<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension point="com.ibm.etools.patterns.ui.PatternLaunch">
        <patternLaunch
        	launchId="DotNetServicePatternLauncher"
        	patternId="com.ibm.etools.mft.pattern.dotnet.pattern"
        	class="com.ibm.etools.mft.pattern.support.edit.extensions.launch.UserDefinedPatternLauncher"
        	pluginId="com.ibm.etools.mft.pattern.support.edit" separator="|" 
        	arguments="com.ibm.etools.mft.pattern.dotnet.code|com.ibm.etools.mft.pattern.dotnet.code.launch.DotNetLauncher"/>
    </extension>
</plugin>
