<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<!-- Containment Provider for Synonym support -->     
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.catalog">
      <overrideLoader
           provider="org.eclipse.datatools.connectivity.apache.internal.derby.catalog.DerbySchemaLoader"
            eclass="org.eclipse.datatools.modelbase.sql.schema.Schema"
            product="Derby"
            version="10.5"/>
   </extension>

   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.ddlGeneration">
      <generator
            version="10.5"
            product="Derby"
           class="com.ibm.datatools.internal.derby.ddl.DerbyDdlGenerator">
      </generator>
   </extension>
 
	<extension
         point="org.eclipse.datatools.connectivity.driverExtension">    
      <category
      		parentCategory="org.eclipse.datatools.connectivity.db.derby.driverCategory"
            id="org.eclipse.datatools.connectivity.db.derby.10_5.driverCategory"
            name="%10_5_VERSION_CATEGORY_NAME"/> 
        
      <driverTemplate
            createDefault="true"
            defaultDefinitionName="%derby105GenericDriverTemplateDefaultDefinitionName"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.connectivity.db.derby105.genericDriverTemplate"
            jarList="derby.jar"
            name="%DERBY105_EMBEDDED_DRIVER_TEMPLATE_NAME"
            parentCategory="org.eclipse.datatools.connectivity.db.derby.10_5.driverCategory"
            valuesProvider="org.eclipse.datatools.connectivity.apache.internal.derby.driver.DerbyDriverValuesProvider">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%DRIVER_CLASS_PROPERTY_NAME"
                  value="org.apache.derby.jdbc.EmbeddedDriver"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%VENDOR_PROPERTY_NAME"
                  value="Derby"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%VERSION_PROPERTY_NAME"
                  value="10.5"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%DATABASE_NAME_PROPERTY_NAME"
                  value="SAMPLE"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%CONNECTION_URL_PROPERTY_NAME"
                  value="jdbc:derby:C:\DerbyDatabases\MyDB;create=true"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%USER_ID_PROPERTY_NAME"
                  value=""
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%PASSWORD_PROPERTY_NAME"
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>  
      
      <driverTemplate
                  createDefault="true"
                  defaultDefinitionName="%derby105ClientDriverDefaultDefinitionName"
                  emptyJarListIsOK="false"
                  id="org.eclipse.datatools.connectivity.db.derby105.clientDriver"
                  jarList="derbyclient.jar"
                  name="%DERBY105_CLIENT_DRIVER_TEMPLATE_NAME"
                  parentCategory="org.eclipse.datatools.connectivity.db.derby.10_5.driverCategory"
                  valuesProvider="org.eclipse.datatools.connectivity.apache.internal.derby.driver.DerbyClientDriverValuesProvider">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%DRIVER_CLASS_PROPERTY_NAME"
                  value="org.apache.derby.jdbc.ClientDriver"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%VENDOR_PROPERTY_NAME"
                  value="Derby"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%VERSION_PROPERTY_NAME"
                  value="10.5"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%DATABASE_NAME_PROPERTY_NAME"
                  value="SAMPLE"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%CONNECTION_URL_PROPERTY_NAME"
                  value="jdbc:derby://localhost:1527/sample;create=true"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%USER_ID_PROPERTY_NAME"
                  value="user"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%PASSWORD_PROPERTY_NAME"
                  required="true"
                  value="pwd"
                  visible="true"/>
         </properties>
      </driverTemplate>    
      
       <driverTemplate
            createDefault="true"
            defaultDefinitionName="%derby105OtherDriverDefaultDefinitionName" 
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.connectivity.db.derby105.otherDriver"
            jarList=""
            name="%DERBY105_OTHER_DRIVER_TEMPLATE_NAME"
            parentCategory="org.eclipse.datatools.connectivity.db.derby.10_5.driverCategory">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%DRIVER_CLASS_PROPERTY_NAME"
                  value=""
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%VENDOR_PROPERTY_NAME"
                  value="Derby"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%VERSION_PROPERTY_NAME"
                  value="10.5"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%DATABASE_NAME_PROPERTY_NAME"
                  value=""
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%CONNECTION_URL_PROPERTY_NAME"
                  value=""
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%USER_ID_PROPERTY_NAME"
                  value=""
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%PASSWORD_PROPERTY_NAME"
                  value=""
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate> 
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.catalog">
      <overrideLoader
           provider="org.eclipse.datatools.connectivity.apache.internal.derby.catalog.DerbySchemaLoader"
            eclass="org.eclipse.datatools.modelbase.sql.schema.Schema"
            product="Derby"
            version="10.8"/>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.ddlGeneration">
      <generator
            version="10.8"
            product="Derby"
           class="com.ibm.datatools.internal.derby.ddl.DerbyDdlGenerator">
      </generator>
   </extension>
 
	<extension
         point="org.eclipse.datatools.connectivity.driverExtension">    
      <category
      		parentCategory="org.eclipse.datatools.connectivity.db.derby.driverCategory"
            id="org.eclipse.datatools.connectivity.db.derby.10_8.driverCategory"
            name="%10_8_VERSION_CATEGORY_NAME"/> 
        
      <driverTemplate
            createDefault="true"
            defaultDefinitionName="%derby108GenericDriverTemplateDefaultDefinitionName"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.connectivity.db.derby108.genericDriverTemplate"
            jarList="derby.jar"
            name="%DERBY108_EMBEDDED_DRIVER_TEMPLATE_NAME"
            parentCategory="org.eclipse.datatools.connectivity.db.derby.10_8.driverCategory"
            valuesProvider="org.eclipse.datatools.connectivity.apache.internal.derby.driver.DerbyDriverValuesProvider">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%DRIVER_CLASS_PROPERTY_NAME"
                  value="org.apache.derby.jdbc.EmbeddedDriver"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%VENDOR_PROPERTY_NAME"
                  value="Derby"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%VERSION_PROPERTY_NAME"
                  value="10.8"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%DATABASE_NAME_PROPERTY_NAME"
                  value="SAMPLE"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%CONNECTION_URL_PROPERTY_NAME"
                  value="jdbc:derby:C:\DerbyDatabases\MyDB;create=true"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%USER_ID_PROPERTY_NAME"
                  value=""
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%PASSWORD_PROPERTY_NAME"
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>  
      
      <driverTemplate
                  createDefault="true"
                  defaultDefinitionName="%derby108ClientDriverDefaultDefinitionName"
                  emptyJarListIsOK="false"
                  id="org.eclipse.datatools.connectivity.db.derby108.clientDriver"
                  jarList="derbyclient.jar"
                  name="%DERBY108_CLIENT_DRIVER_TEMPLATE_NAME"
                  parentCategory="org.eclipse.datatools.connectivity.db.derby.10_8.driverCategory"
                  valuesProvider="org.eclipse.datatools.connectivity.apache.internal.derby.driver.DerbyClientDriverValuesProvider">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%DRIVER_CLASS_PROPERTY_NAME"
                  value="org.apache.derby.jdbc.ClientDriver"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%VENDOR_PROPERTY_NAME"
                  value="Derby"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%VERSION_PROPERTY_NAME"
                  value="10.8"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%DATABASE_NAME_PROPERTY_NAME"
                  value="SAMPLE"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%CONNECTION_URL_PROPERTY_NAME"
                  value="jdbc:derby://localhost:1527/sample;create=true"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%USER_ID_PROPERTY_NAME"
                  value="user"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%PASSWORD_PROPERTY_NAME"
                  required="true"
                  value="pwd"
                  visible="true"/>
         </properties>
      </driverTemplate>    
      
       <driverTemplate
            createDefault="true"
            defaultDefinitionName="%derby108OtherDriverDefaultDefinitionName" 
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.connectivity.db.derby108.otherDriver"
            jarList=""
            name="%DERBY108_OTHER_DRIVER_TEMPLATE_NAME"
            parentCategory="org.eclipse.datatools.connectivity.db.derby.10_8.driverCategory">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%DRIVER_CLASS_PROPERTY_NAME"
                  value=""
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%VENDOR_PROPERTY_NAME"
                  value="Derby"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%VERSION_PROPERTY_NAME"
                  value="10.8"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%DATABASE_NAME_PROPERTY_NAME"
                  value=""
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%CONNECTION_URL_PROPERTY_NAME"
                  value=""
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%USER_ID_PROPERTY_NAME"
                  value=""
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%PASSWORD_PROPERTY_NAME"
                  value=""
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate> 
   </extension>
</plugin>
