<?xml version="1.0" encoding="UTF-8"?>
<!--

 Licensed Material - Property of IBM 
 5724-I66
 (C) Copyright IBM Corporation 2005, 2015 - All Rights Reserved. 
 Note to U.S. Government Users Restricted Rights - Use, duplication or disclosure 
 restricted by GSA ADP Schedule Contract with IBM Corp. 

-->
<?eclipse version="3.0"?>
<plugin>
   
   <extension point = "com.ibm.etools.msg.reporting.infrastructure.reportunit">
   		<reportunit id="com.ibm.etools.msg.reporting.reportunit.mxsd"
   					displayName="%ReportUnit_name"
   					class="com.ibm.etools.msg.reporting.reportunit.mxsd.BOReportUnit">
   			<resource fileExtension=".mxsd" resourceHandler="main"/>
   			<reportType name = "%ReportUnit_typeDetailed"/>
   		</reportunit>   		
   	</extension>   	   
</plugin>
