<?xml version="1.0" encoding="UTF-8"?>
<!--
   Licensed Materials - Property of IBM 
   5724-L01
   (C) Copyright IBM Corporation 2005. All rights reserved. 
   US Government Users Restricted Rights - Use, duplication, or disclosure
   restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<?eclipse version="3.0"?>
<plugin>
     <extension-point
     	id="databinding_generator"
     	name="Databinding generator extension point"
     	schema="schema/databinding_generator.exsd"/>
</plugin>