<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ibm.etools.mft.connector.base.ConnectorDiscovery">
      <connector
            QName="com/ibm/etools/mft/connector/bpm:TWXConnector"
            connectorFactory="com.ibm.etools.mft.connector.bpm.TWXConnectorFactory"
            name="BPMConnector"
            version="8.0.200">
         <discovery
               description="%TWX_CONNECTOR_DESC&quot;"
               discoveryConnectorFactory="com.ibm.etools.mft.connector.bpm.TWXConnectorFactory"
               displayName="%TWX_CONNECTOR_DISPLAY_NAME"
               modelFactory="com.ibm.etools.mft.connector.bpm.TWXModelFactory"
               modelRelativePath="descriptor/bpm_connector_discovery_definition.xml"
               configurationBeanClass="com.ibm.etools.mft.connector.bpm.model.beans.Discovery"
               pluginId="com.ibm.etools.mft.connector.bpm"
               type="unstructured">
         </discovery>
      </connector>
   </extension>
   

</plugin>
