<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="service,event"
            id="com.ibm.etools.mft.connector.ui.discoveryeditor.editor.DiscoveryEditorContentType"
            name="Discovery Editor Content"
            priority="low">      
         <describer
               class="com.ibm.etools.mft.connector.ui.discoveryeditor.editor.DiscoveryEditorContentDescriber">
         </describer>
      </content-type>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
         <editor
            class="com.ibm.etools.mft.connector.ui.discoveryeditor.editor.DiscoveryEditor"
            icon="icons/obj16/service_obj.gif"
            id="com.ibm.etools.mft.connector.ui.discoveryeditor.editor.DiscoveryEditor"
            name="%SERVICE_TREE_VIEW_EDITOR_NAME">
            <contentTypeBinding contentTypeId="com.ibm.etools.mft.connector.ui.discoveryeditor.editor.DiscoveryEditorContentType"/>
      </editor>
   </extension>

 </plugin>
