<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ibm.etools.mft.connector.base.ConnectorDiscovery">
      <connector 
      	version="1.0.0" 
      	QName="com/ibm/mft/connector/mq:MQConnector" 
      	name="mqConnector"
      	connectorFactory="com.ibm.etools.mft.connector.mq.DiscoveryConnectorFactory">
      		<discovery
            	discoveryConnectorFactory="com.ibm.etools.mft.connector.mq.DiscoveryConnectorFactory"
             	displayName="%MQ_CONNECTOR_DISPLAY_NAME"
             	description="%MQ_CONNECTOR_DESC"
             	modelRelativePath="descriptor/mq_connector_discovery_definition.xml"
             	configurationBeanClass="com.ibm.etools.mft.connector.mq.model.beans.Discovery"
             	modelFactory="com.ibm.etools.mft.connector.mq.DiscoveryConnectorFactory"
             	type="structured"
             	icon="icons/obj16/MQ_Service.gif">
             	<searchTree>
		        	<icon objectType="QueueList">/icons/obj16/MQ_Queues.gif</icon>
		        	<icon objectType="Queue">/icons/obj16/MQ_Queue.gif</icon>
		        </searchTree>
      		</discovery>
      </connector>
   </extension>
   <extension
         point="com.ibm.etools.mft.connector.policy.ConnectorPolicy">
      <connector
            QName="com/ibm/mft/connector/mq:MQConnector"
            connectorFactory="com.ibm.etools.mft.connector.policy.PolicyConnectorFactory"
            name="mqConnector"
            version="1.0.0">
         <policy
               discoveryConnectorFactory="com.ibm.etools.mft.connector.policy.PolicyConnectorFactory"
               displayName="%MQ_CONNECTOR_DISPLAY_NAME"
               description="%MQ_CONNECTOR_DESC"
               policyType="MQEndpoint"
               modelRelativePath="descriptor/mq_connector_discovery_definition.xml"
               configurationBeanClass="ComIbmMQOutput.beans.Policy"
               type="structured">
         </policy>
      </connector>
   </extension>
      <extension
        id="com.ibm.etools.mft.connector.mq.editors.MQSystemObjectFilterPropertyEditor"
        point="com.ibm.etools.mft.wizard.editor.customPropertyEditors">
        <EditorContributor
           EditorId="MQSystemObjectFilterPropertyEditor"
           EditorImpl="com.ibm.etools.mft.connector.mq.editors.MQSystemObjectFilterPropertyEditor"
           PluginId="com.ibm.etools.mft.connector.mq"/>
   </extension>
   <extension
        id="com.ibm.etools.mft.connector.mq.editors.MQConnectorFileSelector"
        point="com.ibm.etools.mft.wizard.editor.customPropertyEditors">
        <EditorContributor
           EditorId="MQConnectorFileSelector"
           EditorImpl="com.ibm.etools.mft.connector.mq.editors.MQConnectorFileSelector"
           PluginId="com.ibm.etools.mft.connector.mq"/>
   </extension>
   <extension
          point="com.ibm.etools.mft.connector.editor.TestConnectionWidget">
       <widgetDefinitionEntry
             bundleName="com.ibm.etools.mft.connector.mq"
             className="com.ibm.etools.mft.connector.mq.editors.PolicyTestConnectionButton"
             configProperty="MQEndpoint"
             connectorType="com/ibm/mft/connector/mq:MQConnector"></widgetDefinitionEntry>
    </extension>
</plugin>
