<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  
  <!-- AKR - US55036 - Removed Extension Points
  <extension
        point="com.ibm.msl.mapping.pathResolvers"
        id="xsdecoreresolver">
     <resolver
           id="XSD"
           class="com.ibm.msl.mapping.xml.XSDPathResolver"/>
  </extension>
  
  <extension
        point="com.ibm.msl.mapping.pathResolvers"
        id="xsdwsdlecoreresolver">
     <resolver
           id="XSDWSDL"
           class="com.ibm.msl.mapping.xml.XSDWSDLPathResolver"/>
  </extension>
  -->

   <extension-point id="resourceProviders" name="%resourceProviders" schema="schemas/resourceProviders.exsd"/>
   <extension-point id="transformEngines" name="%transformEngines" schema="schemas/transformEngines.exsd"/>
   
   <extension
         point="com.ibm.msl.mapping.xml.resourceProviders">
      <resourceProvider
            class="com.ibm.msl.mapping.xml.resources.XSDResourceProviderForXML" />
      <resourceProvider
            class="com.ibm.msl.mapping.xml.resources.XSDResourceProviderForDTD" />
      <resourceProvider
            class="com.ibm.msl.mapping.xml.resources.XSDResourceProviderForWSDL" />
      <resourceProvider
            class="com.ibm.msl.mapping.xml.resources.XSDResourceProviderForDFDL" />            
   </extension>
   
   <!-- XML Mapping Type Map Wrapper schema -->
   <extension point="org.eclipse.wst.xml.core.catalogContributions">
       <catalogContribution id="default">
			<public
				publicId="http://www.ibm.com/xmlmap"
				uri="xsd/xmlmapwrapper.xsd">
			</public>		
	   </catalogContribution>          
   </extension>  
   
   <!-- Mapping Launch Configurations -->
   <!-- AKR - 115006 - Add debug as a supported mode for this configuration -->
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="%MappingTransformation_launch"
            delegate="com.ibm.msl.mapping.xml.transform.launch.MappingLaunchConfigurationDelegate"
            modes="run,debug"
            id="com.ibm.msl.mapping.xml.MappingLauncher"
            public="false">
         <fileExtension
               default="true"
               extension="xquery">
         </fileExtension>
         <fileExtension
               default="true"
               extension="xsl">
         </fileExtension>         
      </launchConfigurationType>
   </extension>    
   
   <!-- ============================================================== -->   
   <!-- XSLT Extensions                                                -->
   <!-- ============================================================== -->
     <extension
           point="org.eclipse.core.contenttype.contentTypes">
        <file-association
              content-type="com.ibm.msl.mapping.mapping"
              file-extensions="map"/>
     </extension>
     
   <!-- XSLT1 Code Generator -->
   <!-- AKR - US55036
   <extension
         point="com.ibm.msl.mapping.codeGenerators"
         id="xslt">
      <codeGenerator
            class="com.ibm.msl.mapping.xml.generator.EclipseXMLMappingGenerator"/>
   </extension>
   -->
   
   <!-- XSLT2 Code Generator -->
   <!-- AKR - US55036
   <extension
         point="com.ibm.msl.mapping.codeGenerators"
         id="xslt2">
      <codeGenerator
            class="com.ibm.msl.mapping.xml.generator.EclipseXMLMappingGenerator"/>
   </extension>
   -->

   <!-- XQUERY Code Generator -->
   <!-- AKR - US55036
   <extension
   		point="com.ibm.msl.mapping.codeGenerators" 
   		id="xquery">
      <codeGenerator class="com.ibm.msl.mapping.xml.generator.EclipseXMLMappingGenerator"/>
   </extension>
   -->

   <!-- AKR - US55036 - validators extension point removed.
   <extension
         id="xmlValidator"
         name="Mapping Validator"
         point="com.ibm.msl.mapping.validators">
      <validator class="com.ibm.msl.mapping.xml.validation.EclipseXMLMappingValidator"/>
   </extension>
   -->
   
   <!-- ============================================================== -->
   <!-- XML Mapping Domain Extension                                   -->
   <!-- WID and Modeler both have XML Mapping domains                  -->
   <!-- ============================================================== -->  
   <!-- AKR - US55036 - Replaced By com.ibm.msl.mapping.xml.domain.XMLMappingDomain -->
   <!--
   <extension
         point="com.ibm.msl.mapping.domains"
         id="domain">
         <domain
               domainID="com.ibm.msl.mapping.xml" domainHandler="com.ibm.msl.mapping.xml.domain.XMLMappingDomainHandler">
         </domain>         
         //AKR - 69034 - Declar our validator list as exclusive so we don't get all the 
              common mapping validation 
         <validators exclusive="true">
         	<validator id="com.ibm.msl.mapping.xml.xmlValidator"/>
         </validators>
         
         // US55035 - Generate BO Map 
         // Registered code-generators 
         <codeGenerator id="com.ibm.msl.mapping.xml.xslt" isDefault="true" name="%DATA_MAP_ENGINES_XSLT_LABEL"/>
         <codeGenerator id="com.ibm.msl.mapping.xml.xslt2" isDefault="true" name="%DATA_MAP_ENGINES_XSLT2_LABEL"/>
         <codeGenerator id="com.ibm.msl.mapping.xml.xquery" name="%DATA_MAP_ENGINES_XQUERY_LABEL"/>
         
         <messages
            class="com.ibm.msl.mapping.xml.domain.XMLDomainMessages"/>
         <resources
               class="com.ibm.msl.mapping.xml.resources.XMLMappingResources"
               scope="com.ibm.msl.mapping.xml.resources.MappingScope"
               typeHandler="com.ibm.msl.mapping.xml.resources.MappingTypeHandler"
               workspaceConverter="com.ibm.msl.mapping.xml.resources.WorkspaceURIConverter"/>
         <source
               id="com.ibm.msl.mapping.xml.xsdwsdlecoreresolver" />
         <target
               id="com.ibm.msl.mapping.xml.xsdwsdlecoreresolver" />
         
      <refinements>
         <refinement name="MoveRefinement" label="%MoveRefinementLabel" description="%MoveRefinementDescription">
               <categoryId id="com.ibm.msl.mapping.category.core"/>
         </refinement>
         <refinement name="ConvertRefinement" label="%ConvertRefinementLabel" description="%ConvertRefinementDescription">
               <categoryId id="com.ibm.msl.mapping.category.core"/>
         </refinement>
         <refinement name="ForEachRefinement" label="%ForEachRefinementLabel" description="%ForEachRefinementDescription">
               <categoryId id="com.ibm.msl.mapping.category.core"/>
         </refinement>
         <refinement name="LocalRefinement" label="%LocalRefinementLabel" description="%LocalRefinementDescription">
               <categoryId id="com.ibm.msl.mapping.category.core"/>
         </refinement>
         <refinement name="JoinRefinement" label="%JoinRefinementLabel" description="%JoinRefinementDescription">
               <categoryId id="com.ibm.msl.mapping.category.core"/>
         </refinement>
         <refinement name="AppendRefinement" label="%AppendRefinementLabel" description="%AppendRefinementDescription">
               <categoryId id="com.ibm.msl.mapping.category.core"/>
         </refinement>
         <refinement name="SubmapRefinement" label="%SubmapRefinementLabel" description="%SubmapRefinementDescription">
               <categoryId id="com.ibm.msl.mapping.category.core"/>
         </refinement>
         
         // 116811    WMB and MDM does not support Lookup so we have to remove it fro   
         //<refinement name="LookupRefinement" label="%LookupRefinementLabel" description="%LookupRefinementDescription">
         //      <categoryId id="com.ibm.msl.mapping.category.core"/>
         //</refinement>
         
         <refinement name="CreateRefinement" label="%CreateRefinementLabel" description="%CreateRefinementDescription">
               <categoryId id="com.ibm.msl.mapping.category.core"/>
         </refinement>
         <refinement name="InlineRefinement" label="%InlineRefinementLabel">
               <categoryId id="com.ibm.msl.mapping.category.core"/>
         </refinement>
         <refinement name="GroupRefinement" label="%GroupRefinementLabel" description="%GroupRefinementDescription">
               <categoryId id="com.ibm.msl.mapping.category.core"/>
         </refinement>
         <refinement name="CustomFunctionXPathRefinement" label="%CustomXPathRefinementLabel" description="%CustomXPathRefinementDescription">
               <categoryId id="com.ibm.msl.mapping.category.custom"/>
         </refinement>
         <refinement name="CustomFunctionXSLTRefinement" label="%CustomXSLTRefinementLabel" description="%CustomXSLTRefinementDescription">
               <categoryId id="com.ibm.msl.mapping.category.custom"/>
         </refinement>
         <refinement name="CustomFunctionJavaRefinement" label="%CustomJavaRefinementLabel" description="%CustomJavaRefinementDescription">
               <categoryId id="com.ibm.msl.mapping.category.custom"/>
         </refinement>
         <refinement name="IfRefinement" labelProvider="com.ibm.msl.mapping.refinements.IfRefinementLabelProvider" description="%IfRefinementDescription">
               <categoryId id="com.ibm.msl.mapping.category.core"/>
         </refinement>
         <refinement name="ElseRefinement" label="%ElseRefinementLabel">
               <categoryId id="com.ibm.msl.mapping.category.core"/>
         </refinement>
         // Secondary Refinements 
         <refinement name="ConditionRefinement" label="%ConditionRefinementLabel"/>
         <refinement name="SortRefinement" label="%SortRefinementLabel"/>
         // AKR - US34787 
         <refinement name="PolicyRefinement" label="%PolicyRefinementLabel"/>
      </refinements>      
   </extension>
   -->
   
   <extension
         id="mappingnature"
         name="%MappingNatureName"
         point="org.eclipse.core.resources.natures">
      <runtime>
        <run class="com.ibm.msl.mapping.xslt.codegen.builder.MappingNature"/>
      </runtime>
      <builder id="com.ibm.msl.mapping.xml.mappingbuilder"/>
   </extension>  
   <extension
         id="mappingbuilder"
         name="%MappingBuilderName"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run
             class="com.ibm.msl.mapping.xslt.codegen.builder.MappingBuilder">
         </run>
      </builder>
   </extension>
   
   <!-- XML Map problem marker CheckSum and version synch problem marker -->
   <extension 
   		id="xmlMapProblemMarker" 
   		name="%XMLMapProblemMarker" 
   		point="org.eclipse.core.resources.markers">
   		<super type="org.eclipse.core.resources.problemmarker"/>
   		<attribute name="problemId"/>
   		<persistent value="true"/>
   	</extension>
    <extension 
   		id="xmlMapXSLT20ProblemMarker" 
   		name="%XMLMapProblemMarker" 
   		point="org.eclipse.core.resources.markers">
   		<super type="org.eclipse.core.resources.problemmarker"/>
   		<attribute name="problemId"/>
   		<persistent value="true"/>
   	</extension>
   	<!-- AKR - US55036 - categories extension point removed.
    <extension
         point="com.ibm.msl.mapping.categories">    
         <category id="com.ibm.msl.mapping.category.core" name="%categoryCore"/>
         <category id="com.ibm.msl.mapping.category.custom" name="%categoryCustom"/>
    </extension>
    -->
    
    
    <!-- AKR - US55036 -->
   <extension point = "com.ibm.msl.mapping.mappingEnvironments">
   		<mappingEnvironment class="com.ibm.msl.mapping.xml.domain.EclipseGDMMappingEnvironment"/>
   </extension>
   
   <extension
         point="com.ibm.msl.mapping.mappingDomains">
         <mappingDomain class="com.ibm.msl.mapping.xml.domain.XMLMappingDomain"/>
   </extension>
   
</plugin>
