<?xml version="1.0" encoding="UTF-8"?>
<?NLS TYPE="org.eclipse.help.contexts"?>  

<!-- ========================================================== -->
<!-- This is the plugin for declaring the samples gallery F1    -->
<!-- help contribution to WID and Modeler.                      -->
<!-- ========================================================== -->

<plugin>
   
<!-- ============================================================================= -->
<!-- Define  F1                                                                    -->
<!-- ============================================================================= -->

   <extension point="org.eclipse.help.contexts"> 
	   <contexts file="sample_contexts.xml" plugin="com.ibm.wbit.samples.framework" />
  </extension>

</plugin>
 