<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point
         id="ilog.views.eclipse.jlm.keysProvider"
         name="JViews License Keys File Location Provider"
         schema="schema/ilog.views.eclipse.jlm.keysProvider.exsd"/>
   <extension-point
         id="ilog.views.eclipse.jlm.GUIProvider"
         name="JViews License GUI Provider"
         schema="schema/ilog.views.eclipse.jlm.GUIProvider.exsd"/>

   <!--
   <extension
         point="org.eclipse.ui.views">
      <category
            name="IBM ILOG JViews"
            id="ilog.views.eclipse">
      </category>
      <view
            name="License Keys"
            icon="icons/key.png"
            category="ilog.views.eclipse"
            class="ilog.views.eclipse.jlm.LicenseKeysView"
            id="ilog.views.eclipse.jlm.LicenseKeysView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="JViews License"
            class="ilog.views.eclipse.jlm.JlmPreferencePage"
            id="ilog.views.eclipse.jlm.JlmPreferencePage"/>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts file="contexts.xml"/>
   </extension>
   -->
   <extension
         point="ilog.views.eclipse.jlm.keysProvider">
      <implementation class="ilog.views.eclipse.jlm.JlmKeysProvider"/>
   </extension>
   <extension
         point="ilog.views.eclipse.jlm.GUIProvider">
      <implementation class="ilog.views.eclipse.jlm.JlmSWTDialogs"/>
   </extension>

</plugin>
