<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="markerModel" name="Marker Model" schema="schema/markerModel.exsd"/>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.source.name"
            description="%category.source.description"
            id="com.ibm.bdsl.viewer.text.source">
      </category>
      <scope
            name="%scope.IntelliTextEditor.name"
            parent="org.eclipse.ui.textEditorScope"
            description="%scope.IntelliTextEditor.description"
            id="com.ibm.bdsl.editor.bdslEditorScope">
      </scope>
      <command
            description="%ActionDefinition.format.description"
            category="com.ibm.bdsl.viewer.text.source"
            categoryId="com.ibm.bdsl.viewer.text.source"
            name="%ActionDefinition.format.name"
            id="com.ibm.bdsl.viewer.text.format">
      </command>
      <keyBinding
            command="com.ibm.bdsl.viewer.text.format"
            string="Ctrl+Shift+F"
            scope="com.ibm.bdsl.editor.bdslEditorScope"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            description="%ActionDefinition.correct.description"
            category="com.ibm.bdsl.viewer.text.source"
            categoryId="com.ibm.bdsl.viewer.text.source"
            name="%ActionDefinition.correct.name"
            id="com.ibm.bdsl.viewer.text.correct">
      </command>
      <keyBinding
            string="Ctrl+Shift+C"
            scope="com.ibm.bdsl.editor.bdslEditorScope"
            command="com.ibm.bdsl.viewer.text.correct"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="%ActionDefinition.show.outline.name"
            category="org.eclipse.ui.category.navigate"
            description="%ActionDefinition.show.outline.description"
            id="com.ibm.bdsl.viewer.text.outline">
      </command>
      <keyBinding
            string="Ctrl+Shift+O"
            scope="com.ibm.bdsl.editor.bdslEditorScope"
            command="com.ibm.bdsl.viewer.text.outline"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="%ActionDefinition.show.outlineNavigator.name"
            category="org.eclipse.ui.category.navigate"
            description="%ActionDefinition.show.outlineNavigator.description"
            id="com.ibm.bdsl.viewer.text.outlineNavigator">
      </command>
      <keyBinding
            string="Ctrl+O"
            scope="com.ibm.bdsl.editor.bdslEditorScope"
            command="com.ibm.bdsl.viewer.text.outlineNavigator"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="%ActionDefinition.show.grammar.name"
            description="%ActionDefinition.show.grammar.description"
            category="org.eclipse.ui.category.navigate"
            id="com.ibm.bdsl.viewer.text.grammar">
      </command>
      <keyBinding
            string="Ctrl+Alt+G"
            scope="com.ibm.bdsl.editor.bdslEditorScope"
            command="com.ibm.bdsl.viewer.text.grammar"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="%ActionDefinition.reload.definition.name"
            description="%ActionDefinition.reload.definition.description"
            category="org.eclipse.ui.category.navigate"
            id="com.ibm.bdsl.viewer.text.reload">
      </command>
      <keyBinding
            string="Ctrl+Alt+R"
            scope="com.ibm.bdsl.editor.bdslEditorScope"
            command="com.ibm.bdsl.viewer.text.reload"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="%ActionDefinition.show.vocabulary.name"
            description="%ActionDefinition.show.vocabulary.description"
            category="org.eclipse.ui.category.navigate"
            id="com.ibm.bdsl.viewer.text.vocabulary">
      </command>
      <keyBinding
            string="Ctrl+B"
            scope="com.ibm.bdsl.editor.bdslEditorScope"
            command="com.ibm.bdsl.viewer.text.vocabulary"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            description="%ActionDefinition.show.completion.description"
            category="org.eclipse.ui.category.edit"
            name="%ActionDefinition.show.completion.name"
            id="com.ibm.bdsl.viewer.text.completion"/>
      <keyBinding
            command="com.ibm.bdsl.viewer.text.completion"
            string="Ctrl+Shift+Space"
            scope="com.ibm.bdsl.editor.bdslEditorScope"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration"/>            
   </extension>
  
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%CodingActionSet.label"
            description="%CodingActionSet.description"
            visible="false"
            id="com.ibm.bdsl.viewer.CodingActionSet">
         <menu
               label="%SourceMenu.label"
               path="edit"
               id="com.ibm.bdsl.viewer.source.menu">
            <separator
                  name="editGroup">
            </separator>
         </menu>
         <action
               definitionId="com.ibm.bdsl.viewer.text.format"
               label="%FormatAction.label"
               menubarPath="com.ibm.bdsl.viewer.source.menu/editGroup"
               retarget="true"
               id="com.ibm.bdsl.viewer.actions.Format">
         </action>
         <action
               definitionId="com.ibm.bdsl.viewer.text.correct"
               label="%CorrectAction.label"
               menubarPath="com.ibm.bdsl.viewer.source.menu/editGroup"
               retarget="true"
               id="com.ibm.bdsl.viewer.actions.Correct">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="com.ibm.bdsl.viewer.CodingActionSet">
         <part
               id="com.ibm.bdsl.editor.IntelliTextEditor">
         </part>
      </actionSetPartAssociation>
   </extension>
    
   <extension 
      	  point="org.eclipse.ui.popupMenus">      
      <viewerContribution
            targetID="#IntelliTextEditorRulerContext"
            id="com.ibm.bdsl.viewer.ruler.context.actions">
         <action
               label="%AddTask.label"
               helpContextId="org.eclipse.ui.AddTask_action_context"
               class="org.eclipse.ui.texteditor.TaskRulerAction"
               tooltip="%AddTask.tooltip"
               menubarPath="additions"
               id="org.eclipse.ui.texteditor.TaskRulerAction">
         </action>
         <action
               label="%AddBookmark.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               tooltip="%AddBookmark.tooltip"
               menubarPath="additions"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            parentId="org.eclipse.ui.textEditorScope"
            name="%context.editingIntelliTextSource.name"
            id="com.ibm.bdsl.editor.bdslEditorScope"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            textPreferenceKey="semanticIndication"
            presentationLayer="7"
            highlightPreferenceValue="false"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceValue="true"
            isGoToPreviousNavigationTargetKey="isSemanticGoToPreviousNavigationTarget"
            label="%semanticAnnotation.label"
            colorPreferenceKey="semanticIndicationColor"
            showInNextPrevDropdownToolbarActionKey="showSemanticInNextPrevDropdownToolbarAction"
            annotationType="com.ibm.bdsl.problem.semantic"
            isGoToNextNavigationTargetKey="isSemanticGoToNextNavigationTarget"
            isGoToNextNavigationTarget="true"
            overviewRulerPreferenceKey="semanticIndicationInOverviewRuler"
            verticalRulerPreferenceValue="true"
            highlightPreferenceKey="semanticIndicationHighlighting"
            isGoToPreviousNavigationTarget="true"
            verticalRulerPreferenceKey="semanticIndicationInVerticalRuler"
            icon="icons/semantic.gif"
            contributesToHeader="true"
            colorPreferenceValue="0,128,0"
            overviewRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         id="problem"
         name="%IntelliTextProblem.Name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="com.ibm.bdsl.editor.problem"
            super="org.eclipse.ui.workbench.texteditor.error"
            name="com.ibm.bdsl.problem.semantic"
            markerSeverity="2">
      </type>
      <type
            markerSeverity="2"
            markerType="com.ibm.bdsl.editor.problem"
            name="com.ibm.bdsl.problem.error"
            super="org.eclipse.ui.workbench.texteditor.error"/>
      <type
            markerSeverity="1"
            markerType="com.ibm.bdsl.editor.problem"
            name="com.ibm.bdsl.problem.warning"
            super="org.eclipse.ui.workbench.texteditor.warning"/>
   </extension>

</plugin>
