<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <!-- Register Types -->
   <extension
         point="org.eclipse.ant.core.antTypes">
      <antType
            library="%ANT_LIBRARY"
            name="%ANT_IMPORT_RESOURCE"
            uri="%ANT_ADAPTER_NAMESPACE"
            class="com.ibm.adapter.command.internal.ant.types.ImportResource">
      </antType>
      <antType
            library="%ANT_LIBRARY"
            name="%ANT_QUERY_PROPERTIES"
            uri="%ANT_ADAPTER_NAMESPACE"
            class="com.ibm.adapter.command.internal.ant.types.QueryProperties">
      </antType>
      <antType
            library="%ANT_LIBRARY"
            name="%ANT_QUERY_RESULT"
            uri="%ANT_ADAPTER_NAMESPACE"            
            class="com.ibm.adapter.command.internal.ant.types.QueryResult">
      </antType>
      <antType
            library="%ANT_LIBRARY"
            name="%ANT_PERFORM_IMPORT"
            uri="%ANT_ADAPTER_NAMESPACE"
            class="com.ibm.adapter.command.internal.ant.types.PerformImport">
      </antType>
      <antType
            library="%ANT_LIBRARY"
            name="%ANT_WRITE_TO_WORKSPACE"
            uri="%ANT_ADAPTER_NAMESPACE"
            class="com.ibm.adapter.command.internal.ant.types.WriteToWorkspace">
      </antType>
      <antType
            library="%ANT_LIBRARY"
            name="%ANT_SELECT_ELEMENT"
            uri="%ANT_ADAPTER_NAMESPACE"
            class="com.ibm.adapter.command.internal.ant.types.NodeElement">
      </antType>
      <antType
            library="%ANT_LIBRARY"
            name="%ANT_PROPERTY_ELEMENT"
            uri="%ANT_ADAPTER_NAMESPACE"
            class="com.ibm.adapter.command.internal.ant.types.properties.AntPropertyElement">
      </antType>
      <antType
            library="%ANT_LIBRARY"
            name="%ANT_PROPERTY_GROUP"
            uri="%ANT_ADAPTER_NAMESPACE"
            class="com.ibm.adapter.command.internal.ant.types.properties.AntPropertyGroup">
      </antType>
      <antType
            library="%ANT_LIBRARY"
            name="%ANT_PROPERTY_TREE"
            uri="%ANT_ADAPTER_NAMESPACE"
            class="com.ibm.adapter.command.internal.ant.types.properties.AntPropertyTree">
      </antType>
      <antType
            library="%ANT_LIBRARY"
            name="%ANT_PROPERTY_NODE"
            uri="%ANT_ADAPTER_NAMESPACE"
            class="com.ibm.adapter.command.internal.ant.types.properties.AntPropertyNode">
      </antType>
      <antType
            library="%ANT_LIBRARY"
            name="%ANT_PROPERTY_TABLE"
            uri="%ANT_ADAPTER_NAMESPACE"
            class="com.ibm.adapter.command.internal.ant.types.properties.AntPropertyTable">
      </antType>
      <antType
            library="%ANT_LIBRARY"
            name="%ANT_PROPERTY_CELL"
            uri="%ANT_ADAPTER_NAMESPACE"
            class="com.ibm.adapter.command.internal.ant.types.properties.AntPropertyCell">
      </antType>
      <antType
            library="%ANT_LIBRARY"
            name="%ANT_PROPERTY_ARRAY"
            uri="%ANT_ADAPTER_NAMESPACE"
            class="com.ibm.adapter.command.internal.ant.types.properties.AntPropertyArray">
      </antType>
      <antType
            library="%ANT_LIBRARY"
            name="%ANT_PROPERTY_VALUE"
            uri="%ANT_ADAPTER_NAMESPACE"
            class="com.ibm.adapter.command.internal.ant.types.properties.AntPropertyValue">
      </antType>
      <antType
            library="%ANT_LIBRARY"
            name="%ANT_DISCOVERY_AGENTS"
            uri="%ANT_ADAPTER_NAMESPACE"
            class="com.ibm.adapter.command.internal.ant.types.DiscoveryAgents">
      </antType>
      <antType
            library="%ANT_LIBRARY"
            name="%ANT_RESOURCE_WRITERS"
            uri="%ANT_ADAPTER_NAMESPACE"
            class="com.ibm.adapter.command.internal.ant.types.ResourceWriters">
      </antType>
      <antType
            library="%ANT_LIBRARY"
            name="%ANT_IMPORT_CONFIGS"
            uri="%ANT_ADAPTER_NAMESPACE"
            class="com.ibm.adapter.command.internal.ant.types.ImportConfigurations">
      </antType>
   </extension> 
   
   <!-- Register Tasks -->   
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            library="%ANT_LIBRARY"
            name="%ANT_DISCOVER"
            uri="%ANT_ADAPTER_NAMESPACE"
            class="com.ibm.adapter.command.internal.ant.tasks.GenerateDataType">
      </antTask>
      <antTask
            library="%ANT_LIBRARY"
            name="%ANT_DISPLAY_ALL"
            uri="%ANT_ADAPTER_NAMESPACE"
            class="com.ibm.adapter.command.internal.ant.tasks.DisplayProperties">
      </antTask>
      <antTask
            library="%ANT_LIBRARY"
            name="%ANT_CREATE_PROJECT"
            uri="%ANT_ADAPTER_NAMESPACE"
            class="com.ibm.adapter.command.internal.ant.tasks.CreateProject">
      </antTask>
   </extension>
</plugin>
