<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="com.ibm.etools.patterns.ui.ProductDelegate">
      <ProductDelegate
            preGenHandler="com.ibm.etools.mft.patterns.model.preGen.PrePatternGenerateAction"
            postGenHandler="com.ibm.etools.mft.patterns.model.postGen.PostPatternGenerateAction"
            productId="com.ibm.etools.msgbroker.tooling.ide"
            removeProjectAndReferenceAction="com.ibm.etools.mft.patterns.model.preGen.MBRemoveProjectsAndReferencesAction"
            docLocation="com.ibm.etools.mft.patterns/doc/patterns.htm"/>
   </extension>
   <extension point="com.ibm.etools.patterns.ui.Pattern">
      <POVEditor
            editor="com.ibm.etools.mft.patterns.model.edit.POVEditorAdapterWSDL"
            id="com.ibm.etools.mft.patterns.model.edit.POVEditorAdapterWSDL">
      </POVEditor>
   </extension>
   
   <extension point="com.ibm.etools.patterns.PatternXPathFunction">
      <function class="com.ibm.etools.mft.patterns.xpath.PatternXPathBindingFunction"></function>
      <function class="com.ibm.etools.mft.patterns.xpath.PatternXPathPortFunction"></function>
      <function class="com.ibm.etools.mft.patterns.xpath.PatternXPathPortTypeFunction"></function>
      <function class="com.ibm.etools.mft.patterns.xpath.PatternXPathServiceFunction"></function>
      <function class="com.ibm.etools.mft.patterns.xpath.PatternXPathTargetNamespaceFunction"></function>
   </extension>
   
   
<extension point="com.ibm.etools.patterns.Pattern">

		<!-- Mobile category -->	
        <pattern
            doc="com.ibm.etools.mft.patterns/categories/Id137f11207e577a6cd936f6b8717/overview.htm"
            id="categories.Id137f11207e577a6cd936f6b8717"
            name="%categories.Id137f11207e577a6cd936f6b8717.displayName"
            parentPatternId="com.ibm.etools.pattern" productId="com.ibm.etools.msgbroker.tooling.ide"/>

		<!-- Worklight category -->
        <pattern
            doc="com.ibm.etools.mft.patterns/categories/Id137f112208d3903071911e50ff4/overview.htm"
            id="categories.Id137f112208d3903071911e50ff4"
            name="%categories.Id137f112208d3903071911e50ff4.displayName"
            parentPatternId="categories.Id137f11207e577a6cd936f6b8717" productId="com.ibm.etools.msgbroker.tooling.ide"/>
            
       <!-- Samples category -->     
       <pattern
            doc="com.ibm.etools.mft.patterns/categories/Id128060cd5424813434183055e99/overview.htm"
            id="categories.Id128060cd5424813434183055e99" name="%categories.Id128060cd5424813434183055e99.displayName"
            parentPatternId="com.ibm.etools.pattern" productId="com.ibm.etools.msgbroker.tooling.ide"/>

          <!-- Application Integration -->  
         <pattern doc="com.ibm.etools.mft.patterns/categories/com.ibm.etools.mft.pattern.eis/overview.htm" id="com.ibm.etools.mft.pattern.eis"
            name="%com.ibm.etools.mft.pattern.eis.displayName" parentPatternId="com.ibm.etools.pattern" productId="com.ibm.etools.msgbroker.tooling.ide"/>
            
         <!--  BPM -->   
        <pattern
            doc="com.ibm.etools.mft.patterns/categories/Id1399d053e6a802ffe54c6d2cf38/overview.htm"
            id="categories.Id1399d053e6a802ffe54c6d2cf38"
            name="%categories.Id1399d053e6a802ffe54c6d2cf38.displayName"
            parentPatternId="com.ibm.etools.mft.pattern.eis" productId="com.ibm.etools.msgbroker.tooling.ide"/>
          
	   <!-- Service Enablement -->
        <pattern
            doc="com.ibm.etools.mft.patterns/categories/com.ibm.etools.mft.pattern.sen/wmb_patterns_se.htm"
            id="com.ibm.etools.mft.pattern.sen"
            name="%com.ibm.etools.mft.pattern.sen.category"
            parentPatternId="com.ibm.etools.pattern"
            productId="com.ibm.etools.msgbroker.tooling.ide"/>
            
       <!-- Service Facade -->            
        <pattern
            id="com.ibm.etools.mft.pattern.sen.sf"
            productId="com.ibm.etools.msgbroker.tooling.ide"
            parentPatternId="com.ibm.etools.mft.pattern.sen"
            name="%com.ibm.etools.mft.pattern.sen.sf.category"
            doc="com.ibm.etools.mft.patterns/categories/com.ibm.etools.mft.pattern.sen.sf/overview.htm"/>   
          
       <!-- Microsoft .NET Integration   -->          
        <pattern
            doc="com.ibm.etools.mft.patterns/categories/Id13b2715e163140dadce198388f9/overview.htm"
            id="categories.Id13b2715e163140dadce198388f9"
            name="%categories.Id13b2715e163140dadce198388f9.displayName"
            parentPatternId="com.ibm.etools.pattern" productId="com.ibm.etools.msgbroker.tooling.ide"/>
            
        <!-- Microsoft Dynamics CRM-->
                    
        <pattern
            doc="com.ibm.etools.mft.patterns/categories/Id13b27162264408e0c6e4936cbb8/overview.htm"
            id="categories.Id13b27162264408e0c6e4936cbb8"
            name="%categories.Id13b27162264408e0c6e4936cbb8.displayName"
            parentPatternId="categories.Id13b2715e163140dadce198388f9" productId="com.ibm.etools.msgbroker.tooling.ide"/>

         
        
        <!-- SAP -->
        <pattern doc="com.ibm.etools.mft.patterns/categories/com.ibm.etools.mft.pattern.eis.sap/overview.htm" id="com.ibm.etools.mft.pattern.eis.sap"
            name="%com.ibm.etools.mft.pattern.eis.sap.displayName" parentPatternId="com.ibm.etools.mft.pattern.eis" productId="com.ibm.etools.msgbroker.tooling.ide"/>
            

        <!-- File Processing -->
        <pattern doc="com.ibm.etools.mft.patterns/categories/com.ibm.etools.mft.pattern.fp/wmb_patterns_fp.htm" id="com.ibm.etools.mft.pattern.fp"
            name="%com.ibm.etools.mft.pattern.fp.displayName" parentPatternId="com.ibm.etools.pattern" productId="com.ibm.etools.msgbroker.tooling.ide"/>
            
        <!-- Record Distribution -->   
        <pattern doc="com.ibm.etools.mft.patterns/categories/com.ibm.etools.mft.pattern.fp.rd/overview.htm" id="com.ibm.etools.mft.pattern.fp.rd"
            name="%com.ibm.etools.mft.pattern.fp.rd.displayName" parentPatternId="com.ibm.etools.mft.pattern.fp" productId="com.ibm.etools.msgbroker.tooling.ide"/>
                 

        <!-- Message-based Integration -->            
        <pattern
            id="com.ibm.etools.mft.pattern.mbi"
            productId="com.ibm.etools.msgbroker.tooling.ide"
            parentPatternId="com.ibm.etools.pattern"
            name="%com.ibm.etools.mft.pattern.mbi.category"
            doc="com.ibm.etools.mft.patterns/categories/com.ibm.etools.mft.pattern.mbi/wmb_patterns_mbi.htm"/>		
           
        <!-- Message Correlator -->                 
        <pattern
            id="com.ibm.etools.mft.pattern.mbi.mrrc"
            productId="com.ibm.etools.msgbroker.tooling.ide"
            parentPatternId="com.ibm.etools.mft.pattern.mbi"
            name="%com.ibm.etools.mft.pattern.mbi.mrrc.category"
            doc="com.ibm.etools.mft.patterns/categories/com.ibm.etools.mft.pattern.mbi.mrrc/overview.htm"/>

	    <!-- Message Splitter -->
        <pattern
            id="com.ibm.etools.mft.pattern.mbi.ms"
            productId="com.ibm.etools.msgbroker.tooling.ide"
            parentPatternId="com.ibm.etools.mft.pattern.mbi"
            name="%com.ibm.etools.mft.pattern.mbi.ms.category"
            doc="com.ibm.etools.mft.patterns/categories/com.ibm.etools.mft.pattern.mbi.ms/overview.htm"/>
            
         <!-- MessageSight -->   
        <pattern
            doc="com.ibm.etools.mft.patterns/categories/Id13e1237d9d5444112c7f0ad8e88/overview.htm"
            id="categories.Id13e1237d9d5444112c7f0ad8e88"
            name="%categories.Id13e1237d9d5444112c7f0ad8e88.displayName"
            parentPatternId="categories.Id137f11207e577a6cd936f6b8717" productId="com.ibm.etools.msgbroker.tooling.ide"/>
            
       
        <!-- Service Virtualization -->
        <pattern doc="com.ibm.etools.mft.patterns/categories/Id137123dab7ecf51179d1b2f5fe1/overview.htm"
            id="categories.Id137123dab7ecf51179d1b2f5fe1" name="%categories.Id137123dab7ecf51179d1b2f5fe1.displayName"
            parentPatternId="com.ibm.etools.pattern" productId="com.ibm.etools.msgbroker.tooling.ide"/>
            
        <!-- Service Proxy -->            
        <pattern doc="com.ibm.etools.mft.patterns/categories/Id137123de1bdc4830c2dc88ccef0/overview.htm"
            id="categories.Id137123de1bdc4830c2dc88ccef0" name="%categories.Id137123de1bdc4830c2dc88ccef0.displayName"
            parentPatternId="categories.Id137123dab7ecf51179d1b2f5fe1" productId="com.ibm.etools.msgbroker.tooling.ide"/>
        
       <!-- Service Access -->
        <pattern doc="com.ibm.etools.mft.patterns/categories/com.ibm.etools.mft.pattern.sen2.ca/overview.htm" id="com.ibm.etools.mft.pattern.sen2.ca"
            name="%com.ibm.etools.mft.pattern.sen2.ca.displayName" parentPatternId="com.ibm.etools.mft.pattern.sen" productId="com.ibm.etools.msgbroker.tooling.ide"/>
                        
        
          
</extension>
   
</plugin>
