<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.help.contexts">

         <!-- The following plugins are in the /usr/local/cvsroot/wmqi repository -->
         <contexts file="AdapterConnectionHelp.xml"  plugin="com.ibm.etools.mft.adapter.emd.ui" />
         <contexts file="BrokerDomainAdminHelp.xml"  plugin="com.ibm.etools.mft.admin" />
         <contexts file="DataLineage.xml"  plugin="com.ibm.etools.mft.esql.lineage" />
         <contexts file="UtilUI.xml"  plugin="com.ibm.etools.mft.util.ui" />
         <contexts file="EaseOfUseHelp.xml"  plugin="com.ibm.etools.mft.eou" />
         <contexts file="EsqlEditorHelp.xml"  plugin="com.ibm.etools.mft.esql.editor" />
         <contexts file="MessageFlowEditorHelp.xml"  plugin="com.ibm.etools.mft.fcb" />         
         <contexts file="MessageFlowsHelp.xml"  plugin="com.ibm.etools.mft.flow" />
         <contexts file="WsdlDragDropHelp.xml"  plugin="com.ibm.etools.mft.flow.dnd.wsdl" />
         <contexts file="MADExportHelp.xml"  plugin="com.ibm.etools.mft.mad.export" />
         <contexts file="MessageFlowNodesHelp.xml"  plugin="com.ibm.etools.mft.ibmnodes" />         
         <contexts file="JavaComputeNodeHelp.xml"  plugin="com.ibm.etools.mft.jcn" />
         <contexts file="GDMBasedMapperHelp.xml"  plugin="com.ibm.etools.mft.map.ui" />
         <contexts file="MsgmapConverterHelp.xml"  plugin="com.ibm.etools.mft.map.msgmap" />
         <contexts file="GraphicDataMapperHelp.xml"  plugin="com.ibm.etools.mft.map.ui" />
         <contexts file="MappingHelp.xml"  plugin="com.ibm.etools.mft.mapping" /> <!-- this is for v7 map-->
         <contexts file="NavigatorHelp.xml"  plugin="com.ibm.etools.mft.navigator" />
         <contexts file="BrokersView.xml"  plugin="com.ibm.etools.mft.broker.runtime" />
         <contexts file="QuickStartHelp.xml"  plugin="com.ibm.etools.mft.quickstartwizards" />
         <contexts file="UdnHelp.xml"  plugin="com.ibm.etools.mft.node" />
         <contexts file="RapidAppDevHelp.xml"  plugin="com.ibm.etools.mft.rad" />
         <contexts file="DatabaseDefinitionHelp.xml"  plugin="com.ibm.etools.mft.rdb" />
         <contexts file="UnitTestHelp.xml"  plugin="com.ibm.etools.mft.unittest.ui" />
         <contexts file="BARHelp.xml"  plugin="com.ibm.etools.mft.bar.editor" />         
         <contexts file="XPathHelp.xml"  plugin="com.ibm.etools.mft.xpath" />
         <contexts file="PatternHelp.xml" plugin="com.ibm.etools.patterns.ui"/>                 
         <contexts file="SequenceHelp.xml" plugin="com.ibm.etools.mft.ibmnodes"/>                 
         <contexts file="ResequenceHelp.xml" plugin="com.ibm.etools.mft.ibmnodes"/>                 
         <contexts file="TCPIPClientInputHelp.xml" plugin="com.ibm.etools.mft.ibmnodes"/>                 
         <contexts file="TCPIPServerInputHelp.xml" plugin="com.ibm.etools.mft.ibmnodes"/>                 
         <contexts file="TCPIPClientOutputHelp.xml" plugin="com.ibm.etools.mft.ibmnodes"/>                 
         <contexts file="TCPIPServerOutputHelp.xml" plugin="com.ibm.etools.mft.ibmnodes"/>                 
         <contexts file="TCPIPClientReceiveHelp.xml" plugin="com.ibm.etools.mft.ibmnodes"/>                 
         <contexts file="TCPIPServerReceiveHelp.xml" plugin="com.ibm.etools.mft.ibmnodes"/>  
         <contexts file="PolicyHelp.xml" plugin="com.ibm.etools.mft.connector.policy.ui"/>               
         
         <!-- The following plugins are in the /usr/local/cvsroot/mset repository -->
         <contexts file="MessageSetsHelp.xml"  plugin="com.ibm.etools.msg.editor" />
         <contexts file="MessageGenerationHelp.xml"  plugin="com.ibm.etools.msg.generator.wizards" />
         <contexts file="MessageImporterHelp.xml"  plugin="com.ibm.etools.msg.importer.framework" />
         <contexts
               file="ImpactAnalysis.xml"
               plugin="com.ibm.etools.mft.refactor.ui">
         </contexts>
         <contexts
               file="ImpactAnalysis.xml"
               plugin="com.ibm.etools.mft.index">
         </contexts>
         
         <!-- CORBA infopops -->
         <contexts file="CORBAHelp.xml"  plugin="com.ibm.etools.mft.ibmnodes" />
         <contexts file="CORBAHelp.xml"  plugin="com.ibm.etools.mft.flow.dnd.idl" />
         <contexts file="CORBAImportersHelp.xml"  plugin="com.ibm.etools.msg.importer.corba" />
         
         
         <!-- FTE infopops  and Progress disclosure-->
         <!-- AKR - 111738 - NOTE:  PD Help moved to FTENodePDHelp.xml  -->
         <contexts file="FTEHelp.xml"  plugin="com.ibm.etools.mft.ibmnodes" />
        
         <contexts file="DecisionServiceNodeHelp.xml"  plugin="com.ibm.etools.mft.ibmnodes" />
         <contexts file="DecisionServiceEditorHelp.xml"  plugin="com.ibm.etools.mft.decision.service.ui" />
         <contexts file="DecisionServiceWizardHelp.xml"  plugin="com.ibm.etools.mft.decision.service.ui" />
         
         <contexts file="RestApiHelp.xml"  plugin="com.ibm.etools.mft.restapi.ui" />
                           
         <!-- The following plugins are in the /cvs/bpm/common repository -->
         <contexts file="GraphicDataMapperHelp.xml"  plugin="com.ibm.msl.mapping.ui" />
   </extension>
   
   
   <!-- AKR - PDHelp - 111738 -->
   
   
   <!--
   <extension
         point="com.ibm.etools.mft.flow.pdHelpContentProviders">
-->         
   <extension
         point="com.ibm.etools.mft.util.ui.pdHelpContentProviders">
         
      <pdHelpContentProvider
            file="DataAnalysisPD.xml">
      </pdHelpContentProvider>

      <pdHelpContentProvider
            file="DecisionServiceNodePDHelp.xml">
      </pdHelpContentProvider>
      
      <pdHelpContentProvider file="DecisionServiceUIPDHelp.xml" >
      </pdHelpContentProvider>

      <pdHelpContentProvider
            file="FTENodePDHelp.xml">
      </pdHelpContentProvider>
                  
      <pdHelpContentProvider
            file="CDNodePDHelp.xml">
      </pdHelpContentProvider>
      <pdHelpContentProvider
            file="FileReadPD.xml">
      </pdHelpContentProvider>
      <pdHelpContentProvider
            file="MessageFlowSOAPNodesPDHelp.xml">            
      </pdHelpContentProvider>
      <pdHelpContentProvider
            file="DatabasePD.xml">            
      </pdHelpContentProvider>
      <pdHelpContentProvider
            file="BarEditorPropertiesHelp.xml">            
      </pdHelpContentProvider>
      <pdHelpContentProvider
            file="SubflowNodePDHelp.xml">            
      </pdHelpContentProvider>
      <pdHelpContentProvider
            file="HTTPNodePDHelp.xml">
      </pdHelpContentProvider>
      <pdHelpContentProvider
            file="PDPolicyHelp.xml">
      </pdHelpContentProvider>
      <pdHelpContentProvider
            file="MQNodesPDHelp.xml">
      </pdHelpContentProvider>
      <pdHelpContentProvider
            file="RuntimePDHelp.xml">
      </pdHelpContentProvider>
   </extension>
   

</plugin>
