<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin
   id="com.ibm.healthcare.pattern.PDQSupplier.doc"
   name="%Plugin.name"
   version="4.0.0.qualifier"
   provider-name="IBM">
	<extension point="org.eclipse.help.toc">
    	<toc file="toc.xml" primary="false"/>
	</extension>
</plugin>
