<?xml version="1.0" encoding="UTF-8"?>
<policy id="MQTTSubscribe" type="MQTTSubscribe" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="mqtt_connector_policy_definition.xsd">
  <policyProperties>
    <QOS>
      <qos>qos</qos>
      <retainPublications>retainPublications</retainPublications>
    </QOS>
    <MQTTSettings>
      <hostName>hostName</hostName>
      <port>port</port>
    </MQTTSettings>
  </policyProperties>
</policy>
