<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension id="Builder" name="Devices Pattern Project Builder" point="org.eclipse.core.resources.builders">
    	<builder>
        	<run class="com.ibm.healthcare.pattern.devices.Builder"/>
      	</builder>
	</extension>
</plugin>
