<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="com.ibm.datatools.properties">
         <propertySection
         	   afterSection="datatools.properties.common.GeneralSection"
               tab="datatools.properties.common.GeneralDMPage"
               class="com.ibm.datatools.db2.iseries.ui.properties.GeneralSystemNameDetails"
               id="iSeries.properties.table.SystemNameSection">
            <input
                  type="com.ibm.db.models.db2.iSeries.ISeriesTable">
            </input>
         </propertySection>
         <propertySection
         	   afterSection="datatools.properties.common.GeneralSection"
               tab="datatools.properties.common.GeneralDMPage"
               class="com.ibm.datatools.db2.iseries.ui.properties.GeneralSystemNameDetails"
               id="iSeries.properties.alias.SystemNameSection">
            <input
                  type="com.ibm.db.models.db2.iSeries.ISeriesAlias">
            </input>
         </propertySection>
         <propertySection
         	   afterSection="datatools.properties.common.GeneralSection"
               tab="datatools.properties.common.GeneralDMPage"
               class="com.ibm.datatools.db2.iseries.ui.properties.GeneralSystemNameDetails"
               id="iSeries.properties.view.SystemNameSection">
            <input
                  type="com.ibm.db.models.db2.iSeries.ISeriesView">
            </input>
         </propertySection>
         <propertySection
               afterSection="datatools.properties.common.GeneralSection"
               tab="datatools.properties.common.GeneralDMPage"
               class="com.ibm.datatools.db2.iseries.ui.properties.GeneralLabelTextDetails"
               id="iSeries.properties.column.LabelTextSection">
            <input
                  type="com.ibm.db.models.db2.iSeries.ISeriesColumn">
            </input>
         </propertySection>
         <propertySection
               afterSection="iSeries.properties.column.LabelTextSection"
               tab="datatools.properties.common.GeneralDMPage"
               class="com.ibm.datatools.db2.iseries.ui.properties.GeneralSystemNameDetails"
               id="iSeries.properties.column.SystemNameSection">
            <input
                  type="com.ibm.db.models.db2.iSeries.ISeriesColumn">
            </input>
         </propertySection>
	     <propertySection
              class="com.ibm.datatools.db2.iseries.ui.properties.ColumnAllocateDetails"
              id="db2.iseries.column.AllocateSection"
              tab="datatools.db2.iseries.ui.properties.AllocatePage">
            <input
                 type="com.ibm.db.models.db2.iSeries.ISeriesColumn">
            </input>
         </propertySection>

         <propertySection
               afterSection="datatools.modeler.properties.db2column.TypeSection"
               class="com.ibm.datatools.db2.iseries.ui.properties.column.IdentityCacheDetails"
               id="datatools.properties.db2Column.iseries.IdentityCacheSection"
               tab="datatools.modeler.properties.column.TypePage">
            <input
                 type="com.ibm.db.models.db2.iSeries.ISeriesColumn">
            </input>
         </propertySection>  
         <propertySection
               afterSection="datatools.properties.db2Column.iseries.IdentityCacheSection"
               class="com.ibm.datatools.db2.iseries.ui.properties.column.IdentityOrderDetails"
               id="datatools.properties.db2Column.iseries.IdentityOrderSection"
               tab="datatools.modeler.properties.column.TypePage">
            <input
                 type="com.ibm.db.models.db2.iSeries.ISeriesColumn">
            </input>
         </propertySection>
         <propertySection
         	   tab="datatools.modeler.properties.column.TypePage"
         	   afterSection="datatools.properties.db2Column.iseries.IdentityOrderSection"
               class="com.ibm.datatools.db2.iseries.ui.properties.column.ISeriesColumnDetails"
               id="datatools.properties.db2Column.iseries.ColumnProperties">
            <input
                 type="com.ibm.db.models.db2.iSeries.ISeriesColumn">
            </input>
         </propertySection>
         <propertySection
         	   tab="datatools.modeler.properties.column.TypePage"
         	   filter="com.ibm.datatools.db2.iseries.ui.properties.column.ISeriesColumnFieldProcFilter"
         	   afterSection="datatools.properties.db2Column.iseries.ColumnProperties"
               class="com.ibm.datatools.db2.iseries.ui.properties.column.ISeriesColumnFieldProcDetails"
               id="datatools.properties.db2Column.iseries.ColumnFieldProcProperties">
            <input
                 type="com.ibm.db.models.db2.iSeries.ISeriesColumn">
            </input>
         </propertySection>
          <propertySection
               filter="com.ibm.datatools.db2.iseries.ui.properties.index.ISeriesEncodedVectorIndexFilter"
               class="com.ibm.datatools.db2.iseries.ui.properties.index.EncodedVectorIndexDetails"
               tab="datatools.properties.table.ColumnsDMPage"
                afterSection="com.ibm.datatools.db2.internal.ui.properties.IndexUniqueSection"
               id="com.ibm.datatools.db2.iseries.ui.properties.index.EncodedVectorIndexSection">
         </propertySection>  

      </propertySections>
   </extension>
   
   <extension point="org.eclipse.datatools.connectivity.ui.driverUIContributor">
      <driverUIContributor
            class="com.ibm.datatools.db2.iseries.internal.ui.connection.dialogs.DB2ISeriesKerberosDriverUIContributor"
            driverTemplateID="com.ibm.datatools.db2.iseries.kerberosDriverTemplate"
            id="com.ibm.datatools.db2.iseries.internal.ui.connection.dialogs.DB2ISeriesKerberosDriverUIContributor">
      </driverUIContributor>
   </extension>
   
   <extension point="org.eclipse.datatools.connectivity.ui.driverUIContributor">
      <driverUIContributor
            class="com.ibm.datatools.db2.iseries.internal.ui.connection.dialogs.DB2ISeriesKerberosDriverUIContributor"
            driverTemplateID="com.ibm.datatools.db2.iseries.jdbc4.kerberosDriverTemplate"
            id="com.ibm.datatools.db2.iseries.internal.ui.connection.dialogs.jdbc4.DB2ISeriesKerberosDriverUIContributor">
      </driverUIContributor>
   </extension>
   
   <extension point="org.eclipse.datatools.connectivity.ui.driverUIContributor">
      <driverUIContributor
            class="org.eclipse.datatools.enablement.ibm.db2.iseries.internal.ui.drivers.DB2ISeriesDriverUIContributor"
            driverTemplateID="com.ibm.datatools.db2.iseries.jdbc4.driverTemplate"
            id="com.ibm.datatools.db2.iseries.jdbc4.DB2ISeriesDriverUIContributor">
      </driverUIContributor>
   </extension>   
   
  <extension
         point="org.eclipse.datatools.connectivity.ui.driverPropertyEditor">
      <propertyEditor
            customPropertyDescriptor="org.eclipse.datatools.connectivity.ui.PasswordTextPropertyDescriptor"
            driverPropertyID="org.eclipse.datatools.connectivity.db.password"
            driverTemplateID="com.ibm.datatools.db2.iseries.jdbc4.driverTemplate"
            id="com.ibm.datatools.db2.iseries.jdbc4.propertyEditor.password">
      </propertyEditor>
  </extension>
   
   <!-- filter -->
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.ui.filterInformation">
      <filterInformation
            supportsMultiplePredicates="true"
            vendor="DB2 UDB iSeries"
            version="V5R1">
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ISchemaNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ITableNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IViewNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IStoredProcedureNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IUDFNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IUDTNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ISequenceNode">
         </object>
         <object
               type="com.ibm.datatools.db2.iseries.ui.explorer.virtual.IISeriesMQTFolderNode">
         </object>
      </filterInformation>
      <filterInformation
            supportsMultiplePredicates="true"
            vendor="DB2 UDB iSeries"
            version="V5R2">
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ISchemaNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ITableNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IViewNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IStoredProcedureNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IUDFNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IUDTNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ISequenceNode">
         </object>
         <object
               type="com.ibm.datatools.db2.iseries.ui.explorer.virtual.IISeriesMQTFolderNode">
         </object>
      </filterInformation>
      <filterInformation
            supportsMultiplePredicates="true"
            vendor="DB2 UDB iSeries"
            version="V5R3">
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ISchemaNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ITableNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IViewNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IStoredProcedureNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IUDFNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IUDTNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ISequenceNode">
         </object>
         <object
               type="com.ibm.datatools.db2.iseries.ui.explorer.virtual.IISeriesMQTFolderNode">
         </object>
      </filterInformation>
      <filterInformation
            supportsMultiplePredicates="true"
            vendor="DB2 UDB iSeries"
            version="V5R4">
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ISchemaNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ITableNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IViewNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IStoredProcedureNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IUDFNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IUDTNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ISequenceNode">
         </object>
         <object
               type="com.ibm.datatools.db2.iseries.ui.explorer.virtual.IISeriesMQTFolderNode">
         </object>
      </filterInformation>  
      <filterInformation
            supportsMultiplePredicates="true"
            vendor="DB2 UDB iSeries"
            version="V6R1">
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ISchemaNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ITableNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IViewNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IStoredProcedureNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IUDFNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IUDTNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ISequenceNode">
         </object>
         <object
               type="com.ibm.datatools.db2.iseries.ui.explorer.virtual.IISeriesMQTFolderNode">
         </object>
      </filterInformation>
      <filterInformation
            supportsMultiplePredicates="true"
            vendor="DB2 UDB iSeries"
            version="V7R1">
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ISchemaNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ITableNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IViewNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IStoredProcedureNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IUDFNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IUDTNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ISequenceNode">
         </object>
         <object
               type="com.ibm.datatools.db2.iseries.ui.explorer.virtual.IISeriesMQTFolderNode">
         </object>
      </filterInformation>              
   </extension>
  
   <!-- Content provider / Viewer to the Database Explorer -->
   <extension point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
         <includes>
            <contentExtension
                  pattern="com.ibm.datatools.iseries.server.ui.ServerExplorerContent"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
         <includes>
             <actionExtension pattern="com.ibm.datatools.db2.iseries.ui.actions.filter" />
         </includes>
      </viewerActionBinding> 
   </extension>
    
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            name="%com.ibm.datatools.db2.iseries.ui.contentProvider"
            priority="low"
            icon="platform:/plugin/org.eclipse.datatools.connectivity.sqm.core.ui/icons/server_explorer.gif"
            activeByDefault="true"
            contentProvider="com.ibm.datatools.db2.iseries.internal.ui.explorer.providers.content.impl.ISeriesServerExplorerContentProviderNav"
            labelProvider="com.ibm.datatools.db2.iseries.internal.ui.explorer.providers.label.ISeriesServerExplorerLabelProvider"			
            id="com.ibm.datatools.iseries.server.ui.ServerExplorerContent">
		    <triggerPoints>
		         <or>         
		            <instanceof 
		                  value="com.ibm.datatools.db2.iseries.ui.explorer.virtual.IISeriesMQTFolderNode" /> 
		            <instanceof
		                  value="com.ibm.db.models.db2.DB2Schema" /> 
		            <instanceof
		                  value="com.ibm.db.models.db2.DB2MaterializedQueryTable" /> 
		         </or>
		    </triggerPoints>
		    <commonSorter
            	id ="org.eclipse.datatools.connectivity.sqm.core.internal.ui.services.ExplorerSorterProvider"
            	class="org.eclipse.datatools.connectivity.sqm.core.internal.ui.services.ExplorerSorterProvider">
            	<parentExpression>
	           		<or>         
	            		<instanceof value="org.eclipse.datatools.modelbase.sql.schema.SQLObject"/>
                  		<instanceof value="org.eclipse.datatools.connectivity.sqm.core.ui.explorer.virtual.IVirtualNode"/> 
	            	</or>
         		</parentExpression>
            </commonSorter>
	        <possibleChildren>
	           <or>         
	            	<instanceof
	                  	value="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IVirtualNode" /> 
	            	<instanceof 
	                  	value="org.eclipse.datatools.modelbase.sql.schema.SQLObject" />
	           </or>
	        </possibleChildren>
      </navigatorContent>
   </extension>
   
   <!-- Filter -->
	<extension
         point="org.eclipse.ui.navigator.navigatorContent">      		 
   		 <actionProvider
   			id = "com.ibm.datatools.db2.iseries.ui.actions.filter"
   			class = "com.ibm.datatools.db2.iseries.internal.ui.explorer.actions.popup.providers.DB2ISeriesFilterProvider" >
   			<enablement>
   				<or>
	                <adapt type="com.ibm.datatools.db2.iseries.ui.explorer.virtual.IISeriesMQTFolderNode" />
   				</or>
   			</enablement>
   		 </actionProvider>
	</extension> 
	
	   <extension point = "com.ibm.datatools.core.ui.commandElementFactory">
      <factory
            version="V5R1"
            class="com.ibm.datatools.db2.iseries.ui.command.ISeriesCommandFactoryProvider"
            product="DB2 UDB iSeries">
      </factory>         
      <factory
            version="V5R2"
            class="com.ibm.datatools.db2.iseries.ui.command.ISeriesCommandFactoryProvider"
            product="DB2 UDB iSeries">
      </factory>       
      <factory
            version="V5R3"
            class="com.ibm.datatools.db2.iseries.ui.command.ISeriesCommandFactoryProvider"
            product="DB2 UDB iSeries">
      </factory>
      <factory
            version="V5R4"
            class="com.ibm.datatools.db2.iseries.ui.command.ISeriesCommandFactoryProvider"
            product="DB2 UDB iSeries">
      </factory>
      <factory
            version="V6R1"
            class="com.ibm.datatools.db2.iseries.ui.command.ISeriesCommandFactoryProvider"
            product="DB2 UDB iSeries">
      </factory>
      <factory
            version="V7R1"
            class="com.ibm.datatools.db2.iseries.ui.command.ISeriesCommandFactoryProvider"
            product="DB2 UDB iSeries">
      </factory>      
   </extension>

    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
       <propertyTabs
             contributorId="com.ibm.datatools.properties">
          <propertyTab
                afterTab="datatools.properties.table.ColumnsDMPage"
                category="Core"
                id="datatools.db2.iseries.ui.properties.AllocatePage"
                label="%com.ibm.datatools.db2.iseries.ui.allocatetab">
          </propertyTab>
       </propertyTabs>
    </extension>

   <extension
         point="com.ibm.datatools.db2.ui.dataModelUpdateHandler">
      <handler
            class="com.ibm.datatools.db2.iseries.ui.properties.DB2ISeriesDataModelUpdateHandler"
            database="DB2 UDB iSeries"
            version="V5R4">
      </handler>
   </extension>
   
       <!-- Override DTP table Data Edit menu  -->
  <extension point="org.eclipse.ui.navigator.navigatorContent">  
    <actionProvider
       class="com.ibm.datatools.db2.iseries.internal.ui.explorer.actions.popup.providers.DB2ISeriesEditTableDataActionProvider"
   	   id = "com.ibm.datatools.db2.iseries.internal.ui.tableDataEdit"   
   	   dependsOn="org.eclipse.datatools.sqltools.tabledataeditor.actions.popup.DataGroupProvider"	   
       overrides = "org.eclipse.datatools.sqltools.data.internal.edit">
       <enablement>
	        <and>
		        <or>
			       <adapt type="com.ibm.db.models.db2.iSeries.ISeriesTable" /> 
				</or>
			</and>
		</enablement>         
    </actionProvider>	
  </extension>
  
  <extension point="org.eclipse.ui.navigator.viewer">   
      <viewerActionBinding viewerId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
         <includes>
             <actionExtension pattern="com.ibm.datatools.db2.iseries.internal.ui.tableDataEdit" />             
         </includes>
      </viewerActionBinding>
  </extension>
  
  <!-- Contribute table data editor  -->
  <extension point="org.eclipse.ui.editors">
     <editor
        class = "com.ibm.datatools.db2.iseries.internal.ui.explorer.actions.popup.actions.DB2ISeriesTableDataEditor"        
        icon = "icons/table.gif"
        contributorClass = "org.eclipse.datatools.sqltools.data.internal.ui.editor.TableDataEditorActionBarContributor"
        name = "%TableDataEditor"
        id = "com.ibm.datatools.db2.iseries.internal.ui.explorer.actions.popup.actions.DB2ISeriesTableDataEditor" />          
  </extension> 
  <extension
         point="com.ibm.datatools.compare.ui.compareItemDependentItemProvider">
      <provider
            class="com.ibm.datatools.db2.iseries.ui.compare.DB2IndexEncodedVectorDependentItemProvider"
            compareItemName="encodedVector"
            objectTypes="DB2IndexImpl, ISeriesCatalogIndex">
      </provider>
        <provider
            class="com.ibm.datatools.db2.iseries.ui.compare.DB2IndexUniqueDependentItemProvider"
            compareItemName="unique"
            objectTypes="DB2IndexImpl, ISeriesCatalogIndex">
      </provider>
</extension>	
</plugin>
