<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="com.ibm.etools.mft.uri.pluginspace">
   </extension>

   <extension
         point="com.ibm.etools.msg.msgmodel.utilities.msetPluginCacheProvider">
   	  <msetFolder>MQCFH</msetFolder>
   	  <msetFolder>MQCIH</msetFolder>
   	  <msetFolder>MQDLH</msetFolder>
   	  <msetFolder>MQIIH</msetFolder>
   	  <msetFolder>MQMD</msetFolder>
   	  <msetFolder>MQMDE</msetFolder>
   	  <msetFolder>MQRFH</msetFolder>
   	  <msetFolder>MQRFH2</msetFolder>
   	  <msetFolder>MQRMH</msetFolder>
   	  <msetFolder>MQSAPH</msetFolder>
   	  <msetFolder>MQWIH</msetFolder>
   	  <msetFolder>Properties</msetFolder>
   	  <msetFolder>SMQ_BMH</msetFolder>
   	  <msetFolder>MQRFH2C</msetFolder>
   	  <msetFolder>JMSTransport</msetFolder>
   	  <msetFolder>HTTPInputHeader</msetFolder>
   	  <msetFolder>HTTPRequestHeader</msetFolder>
   	  <msetFolder>HTTPResponseHeader</msetFolder>
   	  <msetFolder>HTTPReplyHeader</msetFolder>
   	  <msetFolder>EmailOutputHeader</msetFolder>
    </extension>

</plugin>
