<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.ibm.etools.mft.views"
            class="com.ibm.etools.mft.broker.repository.views.RepositoryView"
            icon="icons/full/obj16/repository_topology_obj.gif"
            id="com.ibm.etools.mft.broker.repository.views.RepositoryView"
            name="%runtime_repository.view">
      </view>

   </extension>

	<extension point="org.eclipse.ui.popupMenus">
		<!--objectContribution
        id="com.ibm.etools.mft.broker.repository.deployableObject2"
        nameFilter="*.service"
        objectClass="org.eclipse.core.resources.IFile">
		   <action
           class="com.ibm.etools.mft.broker.repository.actions.DeployMenuAction"
           enablesFor="1"
           icon="icons/full/obj16/deploy_service_obj.gif"
           id="com.ibm.etools.mft.broker.repository.DeployMenuAction"
           label="%DeployLabel"
           menubarPath="additions">
		   </action>
		</objectContribution-->
        <objectContribution
           id="com.ibm.etools.mft.broker.repository.contribution.service.menu"
           objectClass="com.ibm.etools.mft.navigator.resource.element.ConnectorServiceFile">
           <action
           class="com.ibm.etools.mft.broker.repository.actions.PublishAction"
           enablesFor="1"
           icon="icons/full/obj16/deploy_service_obj.gif"
           id="com.ibm.etools.mft.broker.repository.actions.PublishAction"
           label="%publishLabel"
           menubarPath="PublishServiceGroup">
           </action>
        </objectContribution>
	</extension>
		<extension point="org.eclipse.ui.popupMenus">
		<!--objectContribution
        id="com.ibm.etools.mft.broker.repository.deployableObject2"
        nameFilter="*.service"
        objectClass="org.eclipse.core.resources.IFile">
		   <action
           class="com.ibm.etools.mft.broker.repository.actions.DeployMenuAction"
           enablesFor="1"
           icon="icons/full/obj16/deploy_service_obj.gif"
           id="com.ibm.etools.mft.broker.repository.DeployMenuAction"
           label="%DeployLabel"
           menubarPath="additions">
		   </action>
		</objectContribution-->
        <objectContribution
        	id="com.ibm.etools.mft.broker.repository.contribution.policy.menu"
           	nameFilter="*.policy"
        	objectClass="org.eclipse.core.resources.IFile">
           <action
           class="com.ibm.etools.mft.broker.repository.actions.PolicyPublishAction"
           enablesFor="1"
           icon="icons/full/obj16/deploy_service_obj.gif"
           id="com.ibm.etools.mft.broker.repository.actions.PolicyPublishAction"
           label="%publishLabel"
           menubarPath="PublishServiceGroup">
           </action>
        </objectContribution>
	</extension>
</plugin>
