<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.ibm.hcls.sdg.configuration">
      <configuration
            configFile="BookSeries.dap"
            default="false"
            description="%configuration.bookseries.desc"
            id="com.ibm.hcls.sdg.bookseries"
            name="%configuration.bookseries.name"
            schemaFile="BookSeries.xsd"
            schemaTargetNamespaceURI="http://www.ibm.com/book-ns">
      </configuration>
   </extension>
   <extension
         point="com.ibm.hcls.sdg.terminology.xml.file">
      <xmlTermFile
            description="%terminology.bookseries.xml.name"
            fileResource="BookSeriesGlossary.xml"
            id="com.ibm.hcls.sdg.bookseries.xmlTermFile"
            terminologyCodeSystem="BookCodes">
      </xmlTermFile>
   </extension>

</plugin>
