<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="policy"
            id="com.ibm.etools.mft.connector.policy.ui.policyEditorContentType"
            name="%content-type.name"
            priority="high">
         <describer
               class="com.ibm.etools.mft.connector.policy.ui.internal.editor.PolicyEditorContentDescriber">
         </describer>
      </content-type>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.ibm.etools.mft.connector.policy.ui.internal.editor.PolicyEditor"
            default="true"
            id="com.ibm.etools.mft.connector.policy.ui.PolicyEditor"
            icon="icons/obj16/open_policy.gif"
            name="%editor.name">
            <contentTypeBinding contentTypeId="com.ibm.etools.mft.connector.policy.ui.policyEditorContentType"/>
      </editor>
   </extension>
   <extension
         id="com.ibm.etools.mft.connector.policy.ui.PolicyBuilder"
         name="%policy.validator"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="com.ibm.etools.mft.connector.policy.ui.validation.PolicyValidator">
         </run>
      </builder>
      </extension>
       <extension
         id="com.ibm.etools.mft.connector.policy.ui.PolicyBuilder"
         name="%policy.validator"
         point="com.ibm.etools.mft.uri.referentialbuilders">
      <nature
            natureId="com.ibm.etools.msgbroker.tooling.libraryNature">
      </nature>
      <nature
            natureId="com.ibm.etools.msgbroker.tooling.applicationNature">
      </nature>
   </extension>
      <extension
         id="com.ibm.etools.mft.connector.policy.ui.PolicyProblemMarker"
         name="policyMarker"
         point="org.eclipse.core.resources.markers">
         <super
         	type="org.eclipse.core.resources.problemmarker">
   		 </super>
      	<persistent
            value="true">
      	</persistent>
   	</extension>
</plugin>
