<?xml version="1.0" encoding="UTF-8"?>
<!--

 Licensed Material - Property of IBM 
 5724-I66
 (C) Copyright IBM Corporation 2005, 2015 - All Rights Reserved. 
 Note to U.S. Government Users Restricted Rights - Use, duplication or disclosure 
 restricted by GSA ADP Schedule Contract with IBM Corp. 

-->
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="reportunit" name="ReportUnit" schema="schema/reportunit.exsd"/>

	<!--***************************************************-->
	<!--******** actionSets extension for the toolbar *****-->
	<!--***************************************************-->
	<extension point="org.eclipse.ui.actionSets">
   	<actionSet
   		id="com.ibm.etools.msg.reporting.infrastructure.actionSet"
   		label="%ReportToolbarAction.label"
   		visible="true">
   	 <action
           disabledIcon="icons/dtool16/report_exe.gif"
           enablesFor="1"
           allowLabelUpdate="true"
           toolbarPath="readme"
           label="%ReportToolbarAction.label"
           class="com.ibm.etools.msg.reporting.infrastructure.wizard.ReportAction"
           tooltip="%ReportAction.tooltip"
           icon="icons/etool16/report_exe.gif"
           id="com.ibm.etools.msg.reporting.infrastructure.action">
	 </action> 
    </actionSet>
   </extension>
	
	<!--***********************************-->
	<!--******** popupMenu extensions *****-->
	<!--***********************************-->
	<extension point="org.eclipse.ui.popupMenus">		
	

	<!--*************************************-->
	<!-- Business Object Documentation Unit  -->
	<!--*************************************-->      
	
       <!-- object contribution for IFile .mxsd -->
       <objectContribution
            objectClass="com.ibm.etools.mft.navigator.resource.element.MSGAbstractFile"
            id="com.ibm.etools.msg.reporting.infrastructure.wizard.FileReportPopUpActionMSGFile">
         <action
               label="%ReportAction.label"
               icon="icons\etool16\report_exe.gif"
               class="com.ibm.etools.msg.reporting.infrastructure.wizard.ReportAction"
               enablesFor="1"
               id="com.ibm.etools.msg.reporting.infrastructure.wizard.ReportAction">
         </action>
      </objectContribution>
      
     <objectContribution 
         id="com.ibm.etools.msg.reporting.infrastructure.wizard.FileReportPopUpActionMapFile" 
         objectClass="org.eclipse.core.resources.IFile" 
         nameFilter="*.msgmap">          
         <action
               label="%ReportAction.label"
               icon="icons\etool16\report_exe.gif"
               class="com.ibm.etools.msg.reporting.infrastructure.wizard.ReportAction"
               enablesFor="1"
               id="com.ibm.etools.msg.reporting.infrastructure.wizard.ReportAction">
         </action>
      </objectContribution> 
    
    <objectContribution 
         id="com.ibm.etools.msg.reporting.infrastructure.wizard.FileReportPopUpActionJavaFile" 
         objectClass="org.eclipse.core.resources.IFile" 
         nameFilter="*.java">          
         <action
               label="%ReportAction.label"
               icon="icons\etool16\report_exe.gif"
               class="com.ibm.etools.msg.reporting.infrastructure.wizard.ReportAction"
               enablesFor="1"
               id="com.ibm.etools.msg.reporting.infrastructure.wizard.ReportAction">
         </action>
      </objectContribution> 
      
      <objectContribution 
         id="com.ibm.etools.msg.reporting.infrastructure.wizard.FileReportPopUpActionProject" 
         objectClass="org.eclipse.core.resources.IProject"> 
             <enablement>
				<or>
				  <test property="org.eclipse.core.resources.projectNature" value="com.ibm.etools.msg.validation.msetnature" /> 				  
	  			  <test property="org.eclipse.core.resources.projectNature" value="com.ibm.etools.mft.flow.messageflownature" />
  				</or>
  			</enablement>         
         <action
               label="%ReportAction.label"
               icon="icons\etool16\report_exe.gif"
               class="com.ibm.etools.msg.reporting.infrastructure.wizard.ReportAction"
               enablesFor="1"
               id="com.ibm.etools.msg.reporting.infrastructure.wizard.ReportAction">
         </action>
      </objectContribution> 
      
      <objectContribution 
         id="com.ibm.etools.msg.reporting.infrastructure.wizard.FileReportPopUpActionMSetFolder" 
         objectClass="com.ibm.etools.mft.navigator.resource.element.MessageSetFolder">        
         <action
               label="%ReportAction.label"
               icon="icons\etool16\report_exe.gif"
               class="com.ibm.etools.msg.reporting.infrastructure.wizard.ReportAction"
               enablesFor="1"
               id="com.ibm.etools.msg.reporting.infrastructure.wizard.ReportAction">
         </action>
      </objectContribution> 
   </extension>
   

 
</plugin>
