<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="com.ibm.etools.mft.connector.policy.ConnectorPolicy">
      <connector
            QName="com/ibm/mft/connector/MQTTConnector:MQTTPublish"
            connectorFactory="com.ibm.etools.mft.connector.policy.PolicyConnectorFactory"
            name="MQTTPublish"
            version="1.0.0">
         <policy
               discoveryConnectorFactory="com.ibm.etools.mft.connector.policy.PolicyConnectorFactory"
               displayName="%MQTT_CONNECTOR_DISPLAY_NAME"
               description="%MQTT_CONNECTOR_DESC"
               policyType="MQTTPublish"
               modelRelativePath="descriptor/mqtt_publish_policy_definition.xml"
               configurationBeanClass="com.ibm.connector.mqtt.ComIbmOutput.beans.Policy"
               type="structured">
         </policy>
      </connector>
   </extension>
   
    <extension
         point="com.ibm.etools.mft.connector.policy.ConnectorPolicy">
      <connector
            QName="com/ibm/mft/connector/MQTTConnector:MQTTSubscribe"
            connectorFactory="com.ibm.etools.mft.connector.policy.PolicyConnectorFactory"
            name="MQTTPublish"
            version="1.0.0">
         <policy
               discoveryConnectorFactory="com.ibm.etools.mft.connector.policy.PolicyConnectorFactory"
               displayName="%MQTT_CONNECTOR_DISPLAY_NAME"
               description="%MQTT_CONNECTOR_DESC"
               policyType="MQTTSubscribe"
               modelRelativePath="descriptor/mqtt_subscribe_policy_definition.xml"
                configurationBeanClass="com.ibm.connector.mqtt.ComIbmEventInput.beans.Policy"
               type="structured">
         </policy>
      </connector>
   </extension>
   

</plugin>
