<?xml version="1.0" encoding="UTF-8"?>
<!--

 Licensed Material - Property of IBM 
 5724-I66
 (C) Copyright IBM Corporation 2005, 2015 - All Rights Reserved. 
 Note to U.S. Government Users Restricted Rights - Use, duplication or disclosure 
 restricted by GSA ADP Schedule Contract with IBM Corp. 

-->
<?eclipse version="3.0"?>
<plugin>
     <!--extension
      point="com.ibm.adapter.framework.DiscoveryAgent">
      <DiscoveryAgent
         QName="com/ibm/etools/mft/connector:ConnectorDiscoveryAgent"
         ImportType="ENDPOINT"
         class="com.ibm.etools.mft.connector.ui.discoveryagent.DiscoveryAgent"
		 DisplayName="%DA_DISPLAYNAME"
         Description="%DA_DESCRIPTION">
		 <Classification>MB_CONNECTOR</Classification>
      </DiscoveryAgent>
   </extension>   	
   <extension
      point="com.ibm.adapter.framework.ResourceWriter">
      <ResourceWriter
         QName="com/ibm/etools/mft/connector:ConnectorWorkspaceResourceWriter"
         class="com.ibm.etools.mft.connector.ui.writer.WorkspaceResourceWriter"
         DisplayName="%WRW_DISPLAYNAME"
         Description="%WRW_DESCRIPTION">                                    
         <Classification>MB_CONNECTOR</Classification>
      </ResourceWriter>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
         <wizard
            class="com.ibm.etools.mft.connector.ui.wizard.ConnectorDiscoveryWizard"
            icon="icons/obj16/conn_obj.gif"
            category="com.ibm.etools.mft.wizards.mbappdevcat"
            name="%PLUGIN_NEW_WIZARD_NAME_CONN"
            id="com.ibm.etools.mft.connector.ui.wizard.ConnectorDiscoveryWizard">
            <description>
               %PLUGIN_NEW_WIZARD_DESC_CONN
            </description>
      </wizard>
   </extension>
    <extension point="com.ibm.propertygroup.ui.PropertyUIContributor">
	   <UIContributor
			propertyID="com.ibm.etools.mft.connector.properties.ProjectProperty"
			className="com.ibm.etools.mft.connector.ui.extension.ProjectPropertyUIExtension"/>
   </extension-->
   <!--extension point="com.ibm.adapter.framework.TreeImageProvider">
	  <TreeImageProvider
	  		SearchTreeClass="com.ibm.etools.mft.connector.ui.discoveryagent.SearchTree"
	  		ImageProviderClass= "com.ibm.etools.mft.connector.ui.discoveryagent.SearchTreeImageProvider">
	  </TreeImageProvider>	  
   </extension-->
   
   	<!-- ==================================================================== -->
	<!-- Extension to the com.ibm.etools.mft.navigator defined                -->
	<!-- extension point used to provide access to the ServiceUtilsWrapper    -->
	<!-- ==================================================================== -->
 	<extension
       point="com.ibm.etools.mft.navigator.serviceUtils">
       <serviceUtils>
         <run
         	class="com.ibm.etools.mft.connector.ui.utils.ServiceUtilsWrapper">
         </run>
       </serviceUtils>
 	</extension>
</plugin>
