<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.ibm.etools.mft.map.msgmap.EarlyStartUp">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="msg-map.jar">
      </extraClasspathEntry>
   </extension>	
   	
	<!-- Tasks -->
   <extension point="org.eclipse.ant.core.antTasks">
        <antTask
              class="com.ibm.etools.mft.map.msgmap.ant.MapConverterTask"
              headless="true"
              library="msg-map.jar"
              name="mapConverter">
      </antTask>        
    </extension>
    
	<!-- ===================================================================== -->
	<!-- Extension point: org.eclipse.ui.popupMenus		                       -->
	<!-- Add the msgmap->map conversion action to the context menu			   -->
	<!-- ===================================================================== -->
	<extension point="org.eclipse.ui.popupMenus"> 
		<viewerContribution
        	id="com.ibm.etools.mft.map.msgmap.actions.popup.convert"
	        targetID="com.ibm.etools.mft.navigator.resource">
			<action
         class="com.ibm.etools.mft.map.msgmap.ui.ConvertMsgmapAction"
         enablesFor="+"
         icon="icons/obj16/convert_msgmap.gif"
         id="com.ibm.etools.mft.map.msgmap.actions.convert"
         label="%ConvertMsgmapAction"
         menubarPath="additions">
	         </action>
  		</viewerContribution> 
	</extension>
  
	<!-- ===================================================================== -->
	<!-- Extension point: org.eclipse.ui.editors                               -->
	<!-- Mapping Editor for the msgmap                                         -->
	<!-- ===================================================================== -->
   <extension point="org.eclipse.ui.editors">
      <editor
            name="%MsgmapEditor.name"
            icon="icons/view16/mapping_view.gif"
            extensions="msgmap_backup"
            contributorClass="com.ibm.etools.mapping.actions.ActionBarContributor"
            class="com.ibm.etools.mapping.editor.MapEditor"
            id="com.ibm.etools.mapping.editor.MapEditor">
      </editor>
   </extension>

<!-- ===================================================================== -->
<!-- Extension point: org.eclipse.ui.preferencePages                       -->
<!-- ===================================================================== -->
	<extension id="com.ibm.etools.mft.map.msgmap.preferences"
		name="%Preference.heading" 
		point="org.eclipse.ui.preferencePages">
		<page
			class="com.ibm.etools.mft.map.msgmap.preference.MsgMap2MapConvertPreferencePage"
			category="com.ibm.etools.mft.flow.preference.broker"
			name="%Preference.heading"
			id="com.ibm.etools.mft.map.msgmap.preference.MsgMap2MapConvertPreferencePage" />
	</extension> 
</plugin>
