<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<!-- ================================================================================== -->
<!-- Purpose: Extension point for registering patterns                    				-->
<!-- Extension point: com.ibm.etools.patterns.Pattern                                 -->
<!-- ================================================================================== -->
   <extension-point id="Pattern" name="Pattern" schema="schema/Pattern.exsd"/>
   <extension-point id="PatternXPathFunction" name="PatternXPathFunction" schema="schema/PatternXPathFunction.exsd"/>
   <extension-point id="MicroPatternProvider" name="MicroPatternProvider" schema="schema/MicroPatternProvider.exsd"/>
   
   <extension
         id="PatternInstanceBuilder"
         name="%PatternInstanceProjectBuilder.name"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run class="com.ibm.etools.patterns.build.PatternInstanceBuilder"/>
      </builder>
   </extension>
   
   <extension
         id="PatternInstanceNature"
         name="%PatternInstanceProjectNature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="com.ibm.etools.patterns.build.PatternInstanceNature"/>
      </runtime>
      <builder id="com.ibm.etools.patterns.PatternInstanceBuilder" />
   </extension>

   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/full/obj16/pip_obj.gif"
            id="PatternInstanceNatureImage"
            natureId="com.ibm.etools.patterns.PatternInstanceNature"/>
   </extension>
   
   <extension id="outOfSync" point="org.eclipse.core.resources.markers">
   		<super type="org.eclipse.core.resources.problemmarker"/>
   		<persistent value="true"/>
	</extension>
	
   <extension point="com.ibm.etools.patterns.PatternXPathFunction">
      <function class="com.ibm.etools.patterns.xpath.PatternGetValueXPathFunction"></function>
   </extension>
</plugin>
