<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="ZSeriesPropertyPersistenceHook" name="com.ibm.datatools.db2.zseries.ui" schema="schema/ZSeriesPropertyPersistenceHook.exsd"/>

	<extension point = "org.eclipse.datatools.connectivity.sqm.core.ui.labelService">
		<contributor
			type = "com.ibm.db.models.db2.zSeries.ZSeriesGlobalTemporaryTable"
			iconLocation = "/icons/temporaryTable.gif"
			displayType = "%temporaryTable">
		</contributor>
		<contributor
			type = "com.ibm.db.models.db2.zSeries.ZSeriesTable"
			iconLocation = "/icons/acceleratorOnlyTable.gif"
			displayType = "%acceleratorTable"
			selector = "com.ibm.datatools.db2.zseries.ui.properties.ZSeriesAcceleratorTableLabelProvider">
		</contributor>
	</extension>
<!-- Content provider to the Database Explorer -->
   <extension point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
         <includes>
            <contentExtension
                  pattern="com.ibm.datatools.server.ui.zSeries.ServerExplorerContent"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
         <includes>
             <actionExtension pattern="com.ibm.datatools.db2.zseries.ui.*" />
         </includes>
      </viewerActionBinding>
      <viewerActionBinding viewerId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
         <includes>
             <actionExtension pattern="com.ibm.datatools.db2.zseries.ui.actions.filter" />
         </includes>
      </viewerActionBinding>      
   </extension>

   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            name="%com.ibm.datatools.db2.z.ui.contentProvider"
            priority="low"
            icon="platform:/plugin/org.eclipse.datatools.connectivity.sqm.core.ui/icons/server_explorer.gif"
            activeByDefault="true"
            contentProvider="com.ibm.datatools.db2.zseries.internal.ui.explorer.providers.content.impl.ServerExplorerContentProvider"
            labelProvider="org.eclipse.datatools.connectivity.sqm.server.internal.ui.explorer.providers.SQLModelLabelProviderExtension"			
            id="com.ibm.datatools.server.ui.zSeries.ServerExplorerContent">
		    <triggerPoints>
		         <or>         
		            <instanceof 
		                  value="com.ibm.db.models.db2.zSeries.ZSeriesDatabase" /> 
		            <instanceof 
		                  value="com.ibm.db.models.db2.zSeries.ZSeriesGlobalTemporaryTable" /> 
		            <instanceof 
		                  value="com.ibm.db.models.db2.DB2Schema" /> 
		            <instanceof
		                  value="com.ibm.datatools.db2.zseries.catalog.ZSeriesCatalogProcedureV9" /> 
		            <instanceof
		                  value="com.ibm.datatools.db2.zseries.catalog.ZSeriesCatalogProcedure" /> 
		            <instanceof
		                  value="com.ibm.datatools.db2.zseries.catalog.ZSeriesCatalogXmlSchema" /> 
		            <instanceof
		                  value="com.ibm.datatools.db2.zseries.ui.explorer.virtual.IMQTFolderNode" /> 
		            <instanceof
		                  value="com.ibm.datatools.db2.zseries.ui.explorer.virtual.IZSeriesGlobalTemporaryTableFolderNode" /> 
		            <instanceof
		                  value="com.ibm.datatools.db2.zseries.ui.explorer.virtual.ISynonymFolder" /> 
		            <instanceof
		                  value="com.ibm.datatools.db2.zseries.ui.explorer.virtual.IVersionsFolderNode" /> 
		            <instanceof
		                  value="com.ibm.datatools.db2.zseries.ui.explorer.virtual.IPackageVersionsFolderNode" /> 
		            <instanceof
		                  value="com.ibm.datatools.db2.zseries.internal.ui.explorer.providers.content.virtual.XMLSchemasFolderNode" /> 
		            <instanceof
		                  value="com.ibm.datatools.db2.zseries.internal.ui.explorer.providers.content.virtual.VersionNode" /> 
		            <instanceof
		                  value="com.ibm.datatools.db2.zseries.internal.ui.explorer.providers.content.virtual.PackageVersionNode" /> 
		         </or>
		    </triggerPoints>
		    <commonSorter
            	id ="org.eclipse.datatools.connectivity.sqm.core.internal.ui.services.ExplorerSorterProvider"
            	class="org.eclipse.datatools.connectivity.sqm.core.internal.ui.services.ExplorerSorterProvider">
            	<parentExpression>
	           		<or>         
	            		<instanceof value="org.eclipse.datatools.modelbase.sql.schema.SQLObject"/>
                  		<instanceof value="org.eclipse.datatools.connectivity.sqm.core.ui.explorer.virtual.IVirtualNode"/> 
	            	</or>
         		</parentExpression>
            </commonSorter>
	        <possibleChildren>
	           <or>         
	            	<instanceof
	                  	value="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IVirtualNode" /> 
	            	<instanceof 
	                  	value="org.eclipse.datatools.modelbase.sql.schema.SQLObject" /> 
	           </or>
	        </possibleChildren>
      </navigatorContent>
   </extension>

    <!-- Filter -->
	<extension
         point="org.eclipse.ui.navigator.navigatorContent">      		 
   		 <actionProvider
   			id = "com.ibm.datatools.db2.zseries.ui.actions.filter"
   			class = "com.ibm.datatools.db2.zseries.internal.ui.explorer.actions.popup.providers.DB2ZOSFilterProvider" >
   			<enablement>
   				<or>
	                <adapt type="com.ibm.datatools.db2.zseries.ui.explorer.virtual.IMQTFolderNode" />
	             	<adapt type="com.ibm.datatools.db2.zseries.ui.explorer.virtual.ISynonymFolder" />
   				</or>
   			</enablement>
   		 </actionProvider>
	</extension>   		 
	
<!-- Decoration of the database explorer -->
   <extension
         id="com.ibm.datatools.db2.zseries.ui.explorer.decorator"
         name="com.ibm.datatools.db2.zseries.ui.explorer.decorator"
         point="org.eclipse.ui.decorators">
<!-- Decoration for the collection ID -->
      <decorator
            lightweight="true"
            location="TOP_LEFT"
            label="%com.ibm.datatools.db2.zseries.ui.explorer.CollectionIDDecoration"
            state="true"
            class="com.ibm.datatools.db2.zseries.internal.ui.explorer.decorator.DatabasePackageCollectionIDDecorator"
            id="com.ibm.datatools.db2.zseries.ui.explorer.CollectionIDDecoration">
         <enablement>
            <objectClass
                  name="com.ibm.datatools.db2.zseries.catalog.ZSeriesCatalogDatabasePackage">
            </objectClass>
         </enablement>
      </decorator>
   </extension>

<!-- zSeries Specific properties on the General Page -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.ibm.datatools.properties">
         <propertySection
         	   afterSection="datatools.properties.table.GeneralTableSection"
               tab="datatools.properties.common.GeneralDMPage"
               class="com.ibm.datatools.db2.zseries.ui.properties.GeneralTableDetails"
               id="datatools.db2.zseries.ui.GeneralTableDetails">
            <input
                  type="com.ibm.db.models.db2.zSeries.ZSeriesTable">
            </input>
         </propertySection> 
                  <propertySection
         	   afterSection="datatools.properties.table.GeneralTableSection"
               tab="datatools.properties.common.GeneralDMPage"
               class="com.ibm.datatools.db2.zseries.ui.properties.GeneralTemporaryTableDetails"
               id="datatools.db2.zseries.ui.GeneralTemporaryTableDetails">
            <input
                  type="com.ibm.db.models.db2.zSeries.ZSeriesGlobalTemporaryTable">
            </input>
         </propertySection>      
         <propertySection
               afterSection="datatools.db2.zseries.ui.GeneralTableDetails"
               class="com.ibm.datatools.db2.zseries.ui.properties.GeneralTableDetailsV9"
               filter="com.ibm.datatools.db2.zseries.ui.properties.AppendFilter"
               id="datatools.db2.zseries.ui.GeneralTableDetailsV9"
               tab="datatools.properties.common.GeneralDMPage">
            <input
                  type="com.ibm.db.models.db2.zSeries.ZSeriesTable">
            </input>
         </propertySection>
         <propertySection
         	   tab="datatools.properties.zseries.partitions"
               class="com.ibm.datatools.db2.zseries.ui.properties.PartitionDetails"
               id="datatools.db2.zseries.ui.PartitionDetails">
            <input type="com.ibm.db.models.db2.zSeries.ZSeriesTableSpace"/>
         </propertySection>
         <propertySection
         	   afterSection="datatools.db2.zseries.ui.GeneralTableDetailsV9"
               tab="datatools.properties.common.GeneralDMPage"
               class="com.ibm.datatools.db2.zseries.ui.properties.GeneralAcceleratorDetails"
               id="datatools.db2.zseries.ui.GeneralAcceleratorDetails"
               filter="com.ibm.datatools.db2.zseries.ui.properties.AcceleratorFilter">
         </propertySection> 
      </propertySections>
   </extension>
  
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.ibm.datatools.properties">
            <propertySection
         	   afterSection="datatools.properties.common.GeneralSection"
               tab="datatools.properties.common.GeneralDMPage"
               class="com.ibm.datatools.db2.zseries.ui.properties.synonym.GeneralSynonymDetails"
               id="datatools.properties.alias.GeneralSynonymSection">
            <input
                  type="com.ibm.db.models.db2.zSeries.ZSeriesSynonym">
            </input>
         </propertySection>
      </propertySections>
      <propertySections
            contributorId="com.ibm.datatools.properties">
            <propertySection
         	   afterSection="datatools.properties.db2package.GeneralSection"
               tab="datatools.properties.common.GeneralDMPage"
               class="com.ibm.datatools.db2.zseries.ui.properties.GeneralCollectionIDSection"
               id="datatools.properties.db2package.GeneralCollectionIDSection">
            <input
                  type="com.ibm.db.models.db2.zSeries.ZSeriesDatabasePackage">
            </input>
         </propertySection>
         <propertySection
               tab="datatools.properties.db2package.OptionsPage"
               class="com.ibm.datatools.db2.zseries.ui.properties.db2packages.OptionsSection"
               id="datatools.properties.zseries.db2package.OptionsSection">
            <input
                  type="com.ibm.db.models.db2.zSeries.ZSeriesDatabasePackage">
            </input>
      </propertySection>        
      <propertySection
            tab="datatools.properties.db2package.StatementsPage"
            class="com.ibm.datatools.db2.zseries.ui.properties.db2packages.StatementsSection"
            id="datatools.properties.zseries.db2package.StatementsSection">
         <input
               type="com.ibm.db.models.db2.zSeries.ZSeriesDatabasePackage">
         </input>
      </propertySection>
      </propertySections>
   </extension>
   
   <!-- zSeries Specific properties on the Column Type Page -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.ibm.datatools.properties">
         <propertySection
         	   tab="datatools.modeler.properties.column.TypePage"
         	   afterSection="datatools.properties.db2Column.IdentityOrderSection"
               class="com.ibm.datatools.db2.zseries.ui.properties.column.ColumnDetails"
               id="datatools.db2.zseries.ui.ColumnDetails">
            <input
                  type="com.ibm.db.models.db2.zSeries.ZSeriesColumn">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   
    <!-- Array data type -->
    <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.ibm.datatools.properties">
         <propertySection
         	   afterSection="datatools.properties.common.GeneralSection"
               tab="datatools.db2.zseries.ui.properties.Array"
               class="com.ibm.datatools.modeler.arraytype.properties.ArrayTypeDetails"
               id="datatools.db2.zseries.ui.properties.ArrayDetails">					
            <input
                  type="com.ibm.db.models.db2.zSeries.ZSeriesArrayDataType">
            </input>
         </propertySection> 
         <propertySection
         	   afterSection="datatools.db2.zseries.ui.properties.ArrayDetails"
               tab="datatools.db2.zseries.ui.properties.Array"
               class="com.ibm.datatools.db2.zseries.ui.properties.associativeArrayUDT.IndexArrayTypeDetails"
               id="datatools.db2.zseries.ui.properties.IndexArrayDetails">					
            <input
                  type="com.ibm.db.models.db2.zSeries.ZSeriesArrayDataType">
            </input>
         </propertySection> 
          </propertySections>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.ibm.datatools.properties">
         <propertySection
               tab="datatools.modeler.properties.storedprocedure.SPPage"
               filter="com.ibm.datatools.db2.zseries.ui.properties.routine.SPFilter"
               class="com.ibm.datatools.db2.zseries.ui.properties.routine.RoutineDetails"
               id="datatools.db2.zseries.ui.routine.RoutineSection">
            <input
                  type="com.ibm.db.models.db2.DB2Procedure">
            </input>
         </propertySection>
          <propertySection
               tab="datatools.properties.common.GeneralDMPage"
               filter="com.ibm.datatools.db2.zseries.ui.properties.routine.SPFilter"
               class="com.ibm.datatools.modeler.properties.routine.GeneralRoutineDetails"
               id="datatools.db2.zseries.ui.routine.GeneralRoutineSection">
            <input
                  type="org.eclipse.datatools.modelbase.sql.routines.Routine">
            </input>
         </propertySection>
         <propertySection
               tab="datatools.properties.common.GeneralDMPage"
               filter="com.ibm.datatools.db2.zseries.ui.properties.routine.SPFilter"
               class="com.ibm.datatools.modeler.properties.storedprocedure.GeneralSPDetails"
               id="datatools.db2.zseries.ui.storedprocedure.GeneralSPSection">
            <input
                  type="org.eclipse.datatools.modelbase.sql.routines.Procedure">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.ibm.datatools.properties">
  		 <propertySection
               tab="datatools.modeler.properties.function.ReturnTypePage"
               filter="com.ibm.datatools.db2.zseries.ui.properties.function.ReturnScalarSectionFilter"
               class="com.ibm.datatools.db2.zseries.ui.properties.function.ScalarReturnTypeDetails"
               id="datatools.db2.zseries.ui.function.ScalarReturnTypeSection">
            <input
                  type="com.ibm.db.models.db2.DB2UserDefinedFunction">
            </input>
         </propertySection>
         <propertySection
               tab="datatools.modeler.properties.function.ReturnTypePage"
               filter="com.ibm.datatools.db2.zseries.ui.properties.function.ReturnTableSectionFilter"
               class="com.ibm.datatools.db2.zseries.ui.properties.function.TableReturnTypeDetails"
               id="datatools.db2.zseries.ui.function.TableReturnTypeSection">
            <input
                  type="org.eclipse.datatools.modelbase.sql.routines.Function">
            </input>
         </propertySection>
         <propertySection
               tab="datatools.modeler.properties.function.ReturnTypePage"
               afterSection="datatools.db2.zseries.ui.function.ScalarReturnTypeSection"
               filter="com.ibm.datatools.db2.zseries.ui.properties.function.ReturnScalarSectionFilter"
               class="com.ibm.datatools.db2.zseries.ui.properties.function.SubtypeDetails"
               id="datatools.db2.zseries.ui.function.SubtypeSection">
            <input
                  type="com.ibm.db.models.db2.DB2UserDefinedFunction">
            </input>
         </propertySection>
   	  </propertySections>
   </extension>

<!-- Menus for both Explorer: Data Project Explorer and Project Explorer -->
	<extension point = "org.eclipse.ui.navigator.navigatorContent">
      	<actionProvider
            class="com.ibm.datatools.db2.zseries.internal.ui.explorer.actions.popup.providers.AddSynonymProvider"
            id="com.ibm.datatools.project.ui.commonexplorer.zseries.ui.addSynonym"
   			dependsOn = "com.ibm.datatools.project.ui.commonexplorer.popupMenus.addSequence">
            <enablement>
	            <or>
		            <adapt type="com.ibm.db.models.db2.DB2Schema"/>
	            </or>
            </enablement>
       	</actionProvider>
	</extension>

<!-- Edit Filter Menu --> 
   
 	<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
    	<propertyTabs contributorId="com.ibm.datatools.properties">
       		<propertyTab
             afterTab="datatools.properties.common.GeneralDMPage"
             category="Core"
             id="datatools.properties.zseries.partitions"
             label="%datatools.modeler.properties.partitions"/>
    	
    	 <propertyTab
               afterTab="datatools.properties.common.GeneralDMPage"
               category="Core"
               id="datatools.db2.zseries.ui.properties.Array"
               label="%zseries.ui.properties.ArrayType"/>
         
         </propertyTabs>
 	</extension>
 	
 	<!-- Deletion Providers -->
   <extension
         point="com.ibm.datatools.core.ui.deletion">
      <deletion
            package="http:///com/ibm/db/models/db2/db2.ecore"
            class="DB2Column"
            provider="com.ibm.datatools.db2.zseries.internal.ui.explorer.providers.delete.zSeriesColumnDeletionProvider">
      </deletion>
   </extension>

   <!-- Command Factory provider -->
   <extension point = "com.ibm.datatools.core.ui.commandElementFactory">
      <factory
            version="V9 (New-Function Mode)"
            class="com.ibm.datatools.db2.zseries.ui.command.ZSeriesCommandFactoryProvider"
            product="DB2 UDB zSeries">
      </factory>         
      <factory
            version="V9 (Compatibility Mode)"
            class="com.ibm.datatools.db2.zseries.ui.command.ZSeriesCommandFactoryProvider"
            product="DB2 UDB zSeries">
      </factory>       
      <factory
            version="V8 (New-Function Mode)"
            class="com.ibm.datatools.db2.zseries.ui.command.ZSeriesCommandFactoryProvider"
            product="DB2 UDB zSeries">
      </factory>
      <factory
            version="V8 (Compatibility Mode)"
            class="com.ibm.datatools.db2.zseries.ui.command.ZSeriesCommandFactoryProvider"
            product="DB2 UDB zSeries">
      </factory>
      <factory
            version="V7"
            class="com.ibm.datatools.db2.zseries.ui.command.ZSeriesCommandFactoryProvider"
            product="DB2 UDB zSeries">
      </factory>
   </extension>
   <extension
         point="com.ibm.datatools.core.privilegedObjectFilter">
      <filterType
         class="com.ibm.datatools.db2.zseries.ui.properties.privileges.DB2ZSeriesPrivilegedObjectFilter"/>
   </extension>	
 	
   <extension point="org.eclipse.datatools.connectivity.ui.driverUIContributor">
      <driverUIContributor
            class="com.ibm.datatools.db2.zseries.internal.ui.connection.dialogs.DB2ZSeriesKerberosDriverUIContributor"
            driverTemplateID="com.ibm.datatools.db2.zseries.kerberosDriverTemplate"
            id="com.ibm.datatools.db2.zseries.internal.ui.connection.dialogs.DB2ZSeriesKerberosDriverUIContributor">
      </driverUIContributor>
   </extension>
   
   <extension point="org.eclipse.datatools.connectivity.ui.driverUIContributor">
      <driverUIContributor
            class="com.ibm.datatools.db2.zseries.internal.ui.connection.dialogs.DB2ZSeriesKerberosDriverUIContributor"
            driverTemplateID="com.ibm.datatools.db2.zseries.jdbc4.kerberosDriverTemplate"
            id="com.ibm.datatools.db2.zseries.internal.ui.connection.dialogs.jdbc4.DB2ZSeriesKerberosDriverUIContributor">
      </driverUIContributor>
   </extension>
   
   <extension point="org.eclipse.datatools.connectivity.ui.driverUIContributor">
      <driverUIContributor
            class="com.ibm.datatools.db2.zseries.internal.ui.connection.dialogs.DB2ZSeriesSingleSignOnDriverUIContributor"
            driverTemplateID="com.ibm.datatools.db2.zseries.jdbc4.driverTemplate"
            id="com.ibm.datatools.db2.zseries.jdbc4.DB2ZSeriesDriverUIContributor">
      </driverUIContributor>
   </extension>
 
   <extension
         point="org.eclipse.datatools.connectivity.ui.driverPropertyEditor">
      <propertyEditor
            customPropertyDescriptor="org.eclipse.datatools.connectivity.ui.PasswordTextPropertyDescriptor"
            driverPropertyID="org.eclipse.datatools.connectivity.db.password"
            driverTemplateID="com.ibm.datatools.db2.zseries.jdbc4.driverTemplate"
            id="com.ibm.datatools.db2.zseries.jdbc4.propertyEditor.password">
      </propertyEditor>
  </extension> 	 
 	
   <!-- filter -->
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.ui.filterInformation">
      <filterInformation
            supportsMultiplePredicates="true"
            vendor="DB2 UDB zSeries"
            version="V9 (New-Function Mode)">
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ISchemaNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ITableNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IViewNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IStoredProcedureNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IUDFNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IUDTNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ISequenceNode">
         </object>
         <object
               type="com.ibm.datatools.db2.zseries.ui.explorer.virtual.IMQTFolderNode">
         </object>
         <object
               type="com.ibm.datatools.db2.zseries.ui.explorer.virtual.IZSeriesGlobalTemporaryTableFolderNode">
         </object>
         <object
               type="com.ibm.datatools.db2.zseries.ui.explorer.virtual.ISynonymFolder">
         </object>
      </filterInformation>
      <filterInformation
            supportsMultiplePredicates="true"
            vendor="DB2 UDB zSeries"
            version="V9 (Compatibility Mode)">
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ISchemaNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ITableNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IViewNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IStoredProcedureNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IUDFNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IUDTNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ISequenceNode">
         </object>
         <object
               type="com.ibm.datatools.db2.zseries.ui.explorer.virtual.IMQTFolderNode">
         </object>
         <object
               type="com.ibm.datatools.db2.zseries.ui.explorer.virtual.ISynonymFolder">
         </object>
         <object
               type="com.ibm.datatools.db2.zseries.ui.explorer.virtual.IZSeriesGlobalTemporaryTableFolderNode">
         </object>      
      </filterInformation>
      <filterInformation
            supportsMultiplePredicates="true"
            vendor="DB2 UDB zSeries"
            version="V8 (New-Function Mode)">
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ISchemaNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ITableNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IViewNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IStoredProcedureNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IUDFNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IUDTNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ISequenceNode">
         </object>
         <object
               type="com.ibm.datatools.db2.zseries.ui.explorer.virtual.IMQTFolderNode">
         </object>
         <object
               type="com.ibm.datatools.db2.zseries.ui.explorer.virtual.IZSeriesGlobalTemporaryTableFolderNode">
         </object>              
         <object
               type="com.ibm.datatools.db2.zseries.ui.explorer.virtual.ISynonymFolder">
         </object>
      </filterInformation>
      
      <filterInformation
            supportsMultiplePredicates="true"
            vendor="DB2 UDB zSeries"
            version="V8 (Compatibility Mode)">
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ISchemaNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ITableNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IViewNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IStoredProcedureNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IUDFNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IUDTNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ISequenceNode">
         </object>
         <object
               type="com.ibm.datatools.db2.zseries.ui.explorer.virtual.IMQTFolderNode">
         </object>
         <object
               type="com.ibm.datatools.db2.zseries.ui.explorer.virtual.IZSeriesGlobalTemporaryTableFolderNode">
         </object>              
         <object
               type="com.ibm.datatools.db2.zseries.ui.explorer.virtual.ISynonymFolder">
         </object>
      </filterInformation>
      <filterInformation
            supportsMultiplePredicates="true"
            vendor="DB2 UDB zSeries"
            version="V7">
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ISchemaNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ITableNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IViewNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IStoredProcedureNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IUDFNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IUDTNode">
         </object>
         <object
               type="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.ISequenceNode">
         </object>
         <object
               type="com.ibm.datatools.db2.zseries.ui.explorer.virtual.IMQTFolderNode">
         </object>
         <object
               type="com.ibm.datatools.db2.zseries.ui.explorer.virtual.IZSeriesGlobalTemporaryTableFolderNode">
         </object>              
         <object
               type="com.ibm.datatools.db2.zseries.ui.explorer.virtual.ISynonymFolder">
         </object>
      </filterInformation>
      
   </extension>
   <extension
         point="com.ibm.datatools.core.ui.mappingProvider">
      <provider
            class="com.ibm.datatools.db2.zseries.internal.ui.services.ZSeriesMappingProvider"
            className="ZSeriesTableSpace"
            packageName="http:///com/ibm/db/models/db2/zSeries.ecore">
      </provider>
   </extension>
   <extension
         point="com.ibm.datatools.core.ui.resourceAPIProvider">
      <provider
            class="com.ibm.datatools.db2.zseries.internal.ui.services.ZSeriesResourceAPIProvider"
            source_class="ZSeriesTableSpace"
            source_package="http:///com/ibm/db/models/db2/zSeries.ecore">
      </provider>
   </extension>
 	
   <!-- More Properties -->
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="com.ibm.datatools.properties">
         <propertySection id="com.ibm.datatools.db2.zseries.ui.properties.distinctUDT.WithComparisonSection"
         	              tab="datatools.properties.common.GeneralDMPage"
                          afterSection="datatools.properties.common.GeneralSection"
                          class="com.ibm.datatools.db2.zseries.ui.properties.distinctUDT.WithComparisonDetails" >
            <input type="com.ibm.db.models.db2.zSeries.ZSeriesDistinctUserDefinedType"/>
         </propertySection>
      	 <propertySection
               tab="datatools.properties.common.GeneralDMPage"
               afterSection="com.ibm.datatools.db2.zseries.ui.properties.distinctUDT.WithComparisonSection"
               class="com.ibm.datatools.db2.zseries.ui.properties.distinctUDT.GeneralDistinctUDTDetails"
               id="datatools.properties.zseries.distinctUDT.GeneralSection">
            <input
                  type="com.ibm.db.models.db2.zSeries.ZSeriesDistinctUserDefinedType">
            </input>
         </propertySection>         
         <propertySection id="com.ibm.datatools.db2.zseries.ui.properties.distinctUDT.ZSeriesDistinctUserDefinedType"
         	              tab="datatools.properties.common.GeneralDMPage"
                          afterSection="datatools.properties.zseries.distinctUDT.GeneralSection"
                          class="com.ibm.datatools.db2.zseries.ui.properties.distinctUDT.DistinctUDTDetails" >
            <input type="com.ibm.db.models.db2.zSeries.ZSeriesDistinctUserDefinedType"/>
         </propertySection>
      </propertySections>
   </extension>
   <!-- DSE display for zos SQL native procedure  --> 
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
         <includes>
            <contentExtension
                  pattern="com.ibm.datatools.db2.zseries.ui.provider.RemoveInActiveProcedure">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <!-- Content override for zos SQL native procedure  --> 
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.ibm.datatools.db2.zseries.ui.properties.RemoveInActiveProcedureContentProvider"
            id="com.ibm.datatools.db2.zseries.ui.provider.RemoveInActiveProcedure"
            labelProvider="com.ibm.datatools.db2.zseries.ui.properties.RemoveInActiveProcedureLabelProvider"
            name="%SQL_MODEL_CONTENT_EXTENSION_NAME"
            priority="higher">
         <triggerPoints>
            <or>
               <instanceof 
		           value="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.providers.content.virtual.StoredProcedureNode" /> 
		       <instanceof 
		           value="com.ibm.db.models.db2.DB2Procedure" />  
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="org.eclipse.datatools.connectivity.sqm.core.ui.explorer.virtual.IVirtualNode"/>
		       <instanceof 
		           value="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.providers.content.virtual.StoredProcedureNode" /> 
		       <instanceof 
		           value="com.ibm.db.models.db2.DB2Procedure" />  
            </or>
         </possibleChildren>
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.datatools.connectivity.db.sqlModelContent">
         </override>
      </navigatorContent>
   </extension>   
     <extension point="com.ibm.datatools.db2.zseries.ui.ZSeriesPropertyPersistenceHook">
         <ZSeriesPropertyPersistenceHook 
             class="com.ibm.datatools.db2.zseries.internal.ui.connection.dialogs.ZSeriesSingleSignOnDBPropertiesPersistenceHook">                                                                             	                  
		 </ZSeriesPropertyPersistenceHook>
   </extension> 
    <extension
         point="com.ibm.datatools.compare.ui.compareItemDependentItemProvider">
      <provider
            class="com.ibm.datatools.db2.zseries.ui.compare.ZSeriesArrayIndexDataTypeDependentItemProvider"
            compareItemName="Index Data Type"
            objectTypes="ZSeriesArrayDataTypeImpl, ZSeriesCatalogArrayDataType">
      </provider>
        <provider
            class="com.ibm.datatools.db2.zseries.ui.compare.ZSeriesArrayMaximumCardinalityDependentItemProvider"
            compareItemName="maxCardinality"
            objectTypes="ZSeriesArrayDataTypeImpl, ZSeriesCatalogArrayDataType">
      </provider>
</extension>	
</plugin>

