<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!-- Java Compute Node Development related Wizards -->
   <extension point="org.eclipse.ui.newWizards">
      <wizard
            name="%NewJavaComputeNodeProjectWizard.name"
            icon="icons/full/etool16/newjcnprj_wiz.gif"
            category="com.ibm.etools.mft.wizards.nodecat"
            class="com.ibm.etools.mft.jcn.wizards.NewJavaComputeNodeProjectWizard"
            project="true"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            id="com.ibm.etools.mft.wizards.newjavacomputenodeproject">
         <description>
            %NewJavaComputeNodeProjectWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
	  <wizard
            name="%NewJavaComputeNodeClassWizard.name"
            icon="icons/full/etool16/newjcn_wiz.gif"
            category="com.ibm.etools.mft.wizards.nodecat"
            class="com.ibm.etools.mft.jcn.wizards.NewJavaComputeNodeClassWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            id="com.ibm.etools.mft.wizards.newjavacomputenodeclass">
         <description>
            %NewJavaComputeNodeClassWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>

<!-- MB Java Builder 
     Associate with the jcnnature. The jcnnature <requires> the jdt nature
     so this guarantees all jcnnature have jdt nature. Equally important,
     _not_ all jdt nature projects have jcnnature; only those we want.
-->
   <extension
   		 id="jcnbuilder"
   		 name="jcnbuilder"
   		 point="com.ibm.etools.mft.uri.referentialbuilders">
   		 <nature natureId="com.ibm.etools.mft.jcn.jcnnature" />
   </extension>
   <extension
         id="jcnbuilder"
         name="%JCNBuilder.label"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="com.ibm.etools.mft.jcn.java.builder.MBJavaBuilder">
         </run>
      </builder>
   </extension>
<!-- Class Protocol Resolver -->
   <extension
         point="com.ibm.etools.mft.uri.resolver">
      <resolver
            class="com.ibm.etools.mft.jcn.java.protocol.ClassProtocolResolver"
            protocol="class">
      </resolver>
   </extension>

<!-- classpath  variable initializer-->   
   <extension point="org.eclipse.jdt.core.classpathVariableInitializer">            
   <classpathVariableInitializer                                          
      variable="JCN_HOME"                                                        
      class="com.ibm.etools.mft.jcn.JCNHomeInitializer"/>                           
</extension>

<extension point="org.eclipse.jdt.core.classpathVariableInitializer">            
   <classpathVariableInitializer                                          
      variable="COMMON_CLASSES_HOME"                                                        
      class="com.ibm.etools.mft.jcn.CommonClassesHomeInitializer"/>                           
</extension>  
  
<!-- early startup call for this plugin -->
   <extension
         point="org.eclipse.ui.startup">
      <startup class="com.ibm.etools.mft.jcn.Startup"/>
   </extension>
   <extension
         id="jcnnature"
         name="%JCNNatureName"
         point="org.eclipse.core.resources.natures">
      <requires-nature id="org.eclipse.jdt.core.javanature"/>
      <runtime>
         <run class="com.ibm.etools.mft.jcn.JCNNature"/>
      </runtime>
   </extension>
   
</plugin>
