<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!-- Editors -->
<extension point="org.eclipse.ui.editors">
	<editor
       class="com.ibm.etools.patterns.editor.PatternGenerateEditor"
       contributorClass="com.ibm.etools.patterns.editor.PatternGenerateEditorContributor"
       default="false"
       extensions="xml"
       icon="icons/full/obj16/patternLeaf_obj.gif"
       id="com.ibm.etools.patterns.editor.PatternGenerate"
       name="%PatternInstance">
		</editor>
	</extension>
	
<extension point="org.eclipse.ui.editors">
	<editor name="%PatternSpecification"
			icon="icons/full/obj16/patternSpecification_obj.gif"
			class="com.ibm.etools.patterns.editor.PatternBrowsingEditor"	
			contributorClass="com.ibm.etools.patterns.editor.PatternBrowsingEditorContributor"
			id="com.ibm.etools.patterns.editor.PatternBrowse">
		</editor>		
	</extension>

<extension point="org.eclipse.ui.editors">
	<editor name="%PageViewerEditor.name"
			icon="icons/full/obj16/internal_browser.gif"
			class="com.ibm.etools.patterns.editor.PageViewerEditor"	
	        extensions="htm,html,shtml"
			id="com.ibm.etools.patterns.editor.PageViewerEditor">			
		</editor>
</extension>

<!-- Patterns Project Nature -->
	<!--extension id="patternsNature" point="org.eclipse.core.resources.natures">
		<runtime>
        	<run class="com.ibm.etools.patterns.builder.PatternsNature" />
		</runtime>
   </extension-->

<!-- Patterns Project Builder -->
   <!--extension id="patternsBuilder" point="org.eclipse.core.resources.builders">
      <builder>
         <run class="com.ibm.etools.patterns.builder.PatternsBuilder" />
      </builder>
   </extension-->
   
<!-- Patterns Explorer view for showing available Patterns-->
	<extension point="org.eclipse.ui.views">
	 <!-- Placing Patterns Explorer under Integration Patterns Category (Window-> Show View) -->
	 <category
            name="%ShowViewPatternCategory.name"
            id="com.ibm.etools.category.IntegrationPatterns">
      </category>
      
        <view id="com.ibm.etools.patterns.views.PatternExplorerView"
        	category="com.ibm.etools.category.IntegrationPatterns"
        	name="%PatternExplorerViewLabel"
        	class="com.ibm.etools.patterns.views.PatternExplorerView"
   	    	icon="icons/full/view16/patternsExplorerView_obj.gif"/>
	</extension>

	<extension point = "org.eclipse.ui.actionSets">
        <actionSet
            id="com.ibm.etools.patterns.PatternActionSet"
            label="Pattern Actions"
	    visible="true"
	    description="The action set for Pattern">

	    <action id="com.ibm.etools.patterns.action.OpenPatternViewAction"
		toolbarPath="Normal"			
		label="%CreatePattern"
		tooltip="%CreatePattern"
		icon="icons/full/obj16/startFrom_pattern.gif"
		class="com.ibm.etools.patterns.action.OpenPatternViewAction"/>
        </actionSet>
    </extension>

	   
<!-- ================================================================================== -->
<!-- Purpose: Extension point for registering patterns                   				-->
<!-- Extension point: com.ibm.etools.patterns.ui.Pattern                                -->
<!-- ================================================================================== -->
   <extension-point id="Pattern" name="Pattern" schema="schema/Pattern.exsd"/>
   <extension-point id="ProductDelegate" name="Product delegate" schema="schema/PatternProductDelegate.exsd"/>
   <extension-point id="EventTypeContribution" name="Event type contributor" schema="schema/EventTypeContribution.exsd"/>
   <extension-point id="ActionTypeContribution" name="Action type contributor" schema="schema/ActionTypeContribution.exsd"/>
   <extension-point id="PatternEditorTypeContributor" name="Pattern editor contributor" schema="schema/PatternEditorTypeContributor.exsd"/>
   <extension-point id="PovValidationContribution" name="Pov validation contribution" schema="schema/PovValidationContribution.exsd"/>
   <extension-point id="PatternImport" name="Pattern import contributor" schema="schema/PatternImport.exsd"/>
   <extension-point id="PatternLaunch" name="Pattern launch" schema="schema/PatternLaunch.exsd"/>
   <extension-point id="PatternExplorerContentProvider" name="Alternative Content Provider for Pattern Explorer" schema="schema/PatternExplorerContentProvider.exsd"/>
   <extension-point id="PatternExplorerLabelProvider" name="Alternative Label Provider for Pattern Explorer" schema="schema/PatternExplorerLabelProvider.exsd"/>
   <extension-point id="PatternExplorerProductFilter" name="Alternative Product Filter for Pattern Explorer" schema="schema/PatternExplorerProductFilter.exsd"/>
   <extension-point id="PatternExplorerContextMenuHandler" name="Alternative Context Menu Handler for Pattern Explorer" schema="schema/PatternExplorerContextMenuHandler.exsd"/>
   <extension-point id="PatternExplorerActionBarHandler" name="Alternative Action Bar Handler for Patterns Explorer" schema="schema/PatternExplorerActionBarHandler.exsd"/>
   <extension-point id="PatternExplorerSelectionHandler" name="Alternative Selection Handler for Patterns Explorer" schema="schema/PatternExplorerSelectionHandler.exsd"/>
   
	<extension point="com.ibm.etools.patterns.ui.Pattern">
      <!--POVValidator id="com.ibm.etools.patterns.model.validate.POVInstanceNameValidator" 
      	povId="instanceName" 
      	validator="com.ibm.etools.patterns.model.validate.POVInstanceNameValidator">
      </POVValidator-->
      <POVDependency
            id="com.ibm.etools.patterns.dependency.Enable"
            dependencyHandler="com.ibm.etools.patterns.model.dependency.POVDependencyHandlerEnable"/>
      <POVDependency
            id="com.ibm.etools.patterns.dependency.OrLogicEnable"
            dependencyHandler="com.ibm.etools.patterns.model.dependency.POVDependencyHandlerOrLogicEnable"/>
      <POVDependency
            id="com.ibm.etools.patterns.dependency.AndLogicEnable"
            dependencyHandler="com.ibm.etools.patterns.model.dependency.POVDependencyHandlerAndLogicEnable"/>
      <POVDependency
            id="com.ibm.etools.patterns.dependency.Select"
            dependencyHandler="com.ibm.etools.patterns.model.dependency.POVDependencyHandlerSelect"/>
    </extension>
 <extension
       id="com.ibm.etools.patterns.ui.ValueChangedEvent"
       point="com.ibm.etools.patterns.ui.EventTypeContribution">
    <EventContributor
          className="com.ibm.etools.patterns.model.edit.event.POVEditorChangeEvent"
          type="valueChanged">
    </EventContributor>
 </extension>
  <extension
       id="com.ibm.etools.patterns.ui.EnablementChangedEvent"
       point="com.ibm.etools.patterns.ui.EventTypeContribution">
    <EventContributor
          className="com.ibm.etools.patterns.model.edit.event.POVEditorChangeEvent"
          type="enablement">
    </EventContributor>
 </extension>
  <extension
        id="com.ibm.etools.patterns.ui.EnableAction"
        point="com.ibm.etools.patterns.ui.ActionTypeContribution">
     <ActionTypeContribution
           className="com.ibm.etools.patterns.model.dependency.POVActionHandlerEnabler"
           expEvaluationProvider="com.ibm.etools.patterns.model.dependency.ActionExpressionProvider"
           type="enablement">
     </ActionTypeContribution>
  </extension>
  <extension
        id="com.ibm.etools.patterns.ui.VisibilityAction"
        point="com.ibm.etools.patterns.ui.ActionTypeContribution">
     <ActionTypeContribution
           className="com.ibm.etools.patterns.model.dependency.POVActionHandlerVisibility"
           expEvaluationProvider="com.ibm.etools.patterns.model.dependency.ActionExpressionProvider"
           type="visibility">
     </ActionTypeContribution>
  </extension>
  <extension
        id="com.ibm.etools.patterns.ui.SetValueAction"
        point="com.ibm.etools.patterns.ui.ActionTypeContribution">
     <ActionTypeContribution
           className="com.ibm.etools.patterns.model.dependency.POVActionHandlerValueSetter"
           expEvaluationProvider="com.ibm.etools.patterns.model.dependency.ActionExpressionProvider"
           type="setValue">
     </ActionTypeContribution>
  </extension>
  <extension
        id="com.ibm.etools.patterns.ui.ActionSelectContribution"
        point="com.ibm.etools.patterns.ui.ActionTypeContribution">
     <ActionTypeContribution
           className="com.ibm.etools.patterns.model.dependency.POVActionHandlerCustom"
           expEvaluationProvider="com.ibm.etools.patterns.model.dependency.ActionExpressionProvider"
           type="custom">
     </ActionTypeContribution>
  </extension>
  <extension
        id="com.ibm.etools.patterns.ui.FileEditorContribution"
        point="com.ibm.etools.patterns.ui.PatternEditorTypeContributor">
     <EditorContributor
           EditorId="fileEditor"
           EditorImpl="com.ibm.etools.patterns.properties.FilePropertyEditor"
           arguments="*.jar,*.dll"
           argSeparator=",">
     </EditorContributor>
  </extension>
  <extension
        id="com.ibm.etools.patterns.ui.FolderEditorContribution"
        point="com.ibm.etools.patterns.ui.PatternEditorTypeContributor">
     <EditorContributor
           EditorId="folderEditor"
           EditorImpl="com.ibm.etools.patterns.properties.FolderPropertyEditor">
     </EditorContributor>
  </extension>
  <extension
        id="com.ibm.etools.patterns.ui.InitAction"
        point="com.ibm.etools.patterns.ui.ActionTypeContribution">
     <ActionTypeContribution
           className="com.ibm.etools.patterns.model.dependency.POVInitActionEnablementHandler"
           expEvaluationProvider="com.ibm.etools.patterns.model.dependency.ActionExpressionProvider"
           options="useForInitialization"
           type="initEnablement">
     </ActionTypeContribution>
  </extension>
    <extension
        id="com.ibm.etools.patterns.ui.InitAction"
        point="com.ibm.etools.patterns.ui.ActionTypeContribution">
     <ActionTypeContribution
           className="com.ibm.etools.patterns.model.dependency.POVInitActionValueHandler"
           expEvaluationProvider="com.ibm.etools.patterns.model.dependency.ActionExpressionProvider"
           options="useForInitialization"
           type="initValue">
     </ActionTypeContribution>
  </extension>
    <extension
          id="MQNameValidator"
          name="MQNameValidator"
          point="com.ibm.etools.patterns.ui.PovValidationContribution">
        <PovValidator
              configArgument="^[a-zA-Z0-9./_%]{1,48}$"
              description="%mqNameValidatorDesc"
              name="%mqNameValidatorName"
              valClass="com.ibm.etools.patterns.model.validate.POVRegExpValidator"
              validatorId="mqName">
        </PovValidator>
    </extension>
    <extension
          id="ProjectNameValidator"
          name="ProjectNameValidator"
          point="com.ibm.etools.patterns.ui.PovValidationContribution">
        <PovValidator
              configArgument="^[a-zA-Z0-9\._%`¬£$!^&amp;()\-+={}\[\]@'#~;,]{1,64}$"
              description="%projectNameValidatorDesc"
              name="%projectNameValidatorName"
              valClass="com.ibm.etools.patterns.model.validate.POVRegExpValidator"
              validatorId="projectName">
        </PovValidator>
    </extension>
    <extension
          id="positiveIntegerValidator"
          name="positiveIntegerValidator"
          point="com.ibm.etools.patterns.ui.PovValidationContribution">
       <PovValidator
             configArgument="&gt;0"
             description="%positiveIntegerValidatorDesc"
             name="%positiveIntegerValidatorName"
             valClass="com.ibm.etools.patterns.model.validate.POVGenericIntegerValidator"
             validatorId="positiveInteger">
       </PovValidator>
    </extension>
    <!--extension
       point="org.eclipse.ui.decorators">
       <decorator
            adaptable="true"
            class="com.ibm.etools.patterns.PatternResourceDecorator"
            id="com.ibm.etools.patterns.PatternResourceDecorator"
            label="%PatternResourceDecorator.Label"
            lightweight="true"
            state="true">
         <description>
            %PatternResourceDecorator.Description
         </description>
         <enablement>
            <objectClass name="org.eclipse.core.resources.IFile"/>
         </enablement>
      </decorator>
 </extension-->
    
    <!--extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.ibm.etools.mft.patterns"
            name="Message Broker Patterns">
      </category>
      <wizard
            category="com.ibm.etools.mft.patterns"
            class="com.ibm.etools.patterns.wizards.PatternsNewWizard"
            icon="icons\full\etool16\newpattern_wiz.gif"
            id="com.ibm.etools.mft.patterns.newPattern"
            name="Start from Pattern">
      </wizard>
      <primaryWizard
            id="com.ibm.etools.mft.patterns.newPattern">
      </primaryWizard>
   </extension-->
   <!--extension
         point="com.ibm.etools.mft.navigator.quickStart">
      <quickStart
            icon="icons\full\etool16\newpattern_wiz.gif"
            iconPluginId="com.ibm.etools.mft.patterns"
            id="com.ibm.etools.mft.patterns.patternWizard"
            label="Start from Pattern"
            wizardExtId="com.ibm.etools.mft.patterns.newPattern"
            wizardExtPt="org.eclipse.ui.newWizards">
      </quickStart>
   </extension-->
   
   
   

</plugin>
